Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

enable ap2 in event hub log forwarder
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure-integrations, azure

ci(release): Update version from 4.8.0 to 4.9.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

ci(release): Update version from 4.8.0 to 4.9.0 (#955)
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

enable ap2 in event hub log forwarder (#954)
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure-integrations, azure

fix bug causing log splitting to not work properly (#950)
  azure/activity_logs_monitoring/index.js
  azure/test/activity_logs_monitoring.test.js
Labels: azure-integrations, azure

Remove DdApiKeySecretArn AllowedPattern to allow friendly name support in forwarder lambda
  aws/logs_monitoring/template.yaml
Labels: aws

chore(deps): VULN-10847 Use up-to-date setuptools
  aws/logs_monitoring/requirements.txt
Labels: aws

fixup! chore(deps): VULN-10847 Use up-to-date setuptools
  aws/logs_monitoring/requirements.txt
Labels: aws

chore(deps): VULN-10847 Use up-to-date setuptools (#957)
  aws/logs_monitoring/requirements.txt
Labels: aws

Improve DdApiKeySecretArn variable description
  aws/logs_monitoring/template.yaml
Labels: aws

Remove `DdApiKeySecretArn` `AllowedPattern` constraints to allow friendly name support in DD forwarder lambda (#956)
  aws/logs_monitoring/template.yaml
Labels: aws

ci(release): Update version from 4.9.0 to 4.10.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

ci(release): Update version from 4.9.0 to 4.10.0 (#958)
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Revert "Remove `DdApiKeySecretArn` `AllowedPattern` constraints to allow frie…"
  aws/logs_monitoring/template.yaml
Labels: aws

Revert "Remove `DdApiKeySecretArn` `AllowedPattern` constraints to allow frie…" (#959)
  aws/logs_monitoring/template.yaml
Labels: aws

ci(release): Update version from 4.10.0 to 4.11.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

ci(release): Update version from 4.10.0 to 4.11.0 (#960)
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Remove DdApiKeySecretArn AllowedPattern to allow friendly name support in forwarder lambda
  aws/logs_monitoring/template.yaml
Labels: aws

Remove DdApiKeySecretArn AllowedPattern to allow friendly name support in forwarder lambda (#961)
  aws/logs_monitoring/template.yaml
Labels: aws

Revert "Remove DdApiKeySecretArn AllowedPattern to allow friendly name suppor…"
  aws/logs_monitoring/template.yaml
Labels: aws

Revert "Remove DdApiKeySecretArn AllowedPattern to allow friendly name suppor…" (#962)
  aws/logs_monitoring/template.yaml
Labels: aws

feat(aws): AWSX-1598 Move source identification to logs-backend
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

fixup! feat(aws): AWSX-1598 Move source identification to logs-backend
  aws/logs_monitoring/steps/enums.py
Labels: aws

Format parameters as tabs
  aws/logs_monitoring/README.md
Labels: aws

Apply suggestions from code review
  aws/logs_monitoring/README.md
Labels: aws

add note about x86_64 to forwarder documentation
  aws/logs_monitoring/README.md
Labels: aws

[AWSX] fix(logs-forwarder): update step function template variable name
  aws/logs_monitoring/README.md
Labels: aws

add note about x86_64 to forwarder documentation (#965)
  aws/logs_monitoring/README.md
Labels: aws

[AWSX] fix(logs-forwarder): update step function template variable name (#966)
  aws/logs_monitoring/README.md
Labels: aws

Format parameters as tabs (#964)
  aws/logs_monitoring/README.md
Labels: aws

[AWSX-1559] feat: update Python version to 3.13
  .github/workflows/aws_integration_test.yml
  .github/workflows/aws_lint.yml
  .github/workflows/aws_unit_test.yml
  aws/logs_monitoring/setup.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/build_bundle.sh
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/trace_forwarder/scripts/build_linux_go_bin.sh
  aws/logs_monitoring/trace_forwarder/scripts/run_tests.sh
Labels: aws

[AWSX-1559] feat: update version
  aws/logs_monitoring/tools/integration_tests/cache_test_lambda/serverless.yml
  aws/logs_monitoring/tools/publish_layers.sh
  aws/vpc_flow_log_monitoring/vpc-flow-log-sam-template.yaml
Labels: aws

[AWSX-1559] feat: bump cfn-lint to 1.19.0
  .github/workflows/aws_lint.yml
Labels: none

[AWSX-1559] chore: update version
  aws/rds_enhanced_monitoring/rds-enhanced-sam-template.yaml
Labels: aws

[AWSX-1559] chore: update python version in docs
  aws/logs_monitoring/README.md
  aws/vpc_flow_log_monitoring/README.md
Labels: aws

[AWSX-1559] feat: use ddtrace v3.0.0
  aws/logs_monitoring/requirements.txt
Labels: aws

[AWSX-1559] chore: set ddtrace version to 3.0.0 instead of >=
  aws/logs_monitoring/requirements.txt
Labels: aws

Update README.md to point to public docs.
  azure/activity_logs_monitoring/README.md
Labels: azure-integrations, azure

Update README.md
  azure/activity_logs_monitoring/README.md
Labels: azure-integrations, azure

Update README.md for azure log forwarder to point to public docs (#967)
  azure/activity_logs_monitoring/README.md
Labels: azure-integrations, azure

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*
