Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

AZINTS-2562 ARM templates
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

AZINTS-2562 ARM templates
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

refactor(waf): Changing the array manipulation to direct replace to avoid slow operation on large array
  aws/logs_monitoring/steps/transformation.py
Labels: aws

refactor(waf): Changing the array manipulation to direct replace to avoid slow operation on large array (#818)
  aws/logs_monitoring/steps/transformation.py
Labels: aws

Update the Python runtime version (#794)
  aws/logs_monitoring/README.md
Labels: aws

Split unmatched file by line (#811)
  aws/logs_monitoring/steps/handlers/s3_handler.py
Labels: aws

Bump version from 3.116.0 to 3.117.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

ECI-201 Add terraform templates to serverless
  oci/oci-orm-metrics/metrics-setup/compartment.tf
  oci/oci-orm-metrics/metrics-setup/data.tf
  oci/oci-orm-metrics/metrics-setup/function_setup.tf
  oci/oci-orm-metrics/metrics-setup/functions.tf
  oci/oci-orm-metrics/metrics-setup/locals.tf
  oci/oci-orm-metrics/metrics-setup/metrics-function/Dockerfile
  oci/oci-orm-metrics/metrics-setup/metrics-function/func.py
  oci/oci-orm-metrics/metrics-setup/metrics-function/func.yaml
  oci/oci-orm-metrics/metrics-setup/metrics-function/requirements.txt
  oci/oci-orm-metrics/metrics-setup/outputs.tf
  oci/oci-orm-metrics/metrics-setup/provider.tf
  oci/oci-orm-metrics/metrics-setup/schema.yaml
  oci/oci-orm-metrics/metrics-setup/serviceconnector.tf
  oci/oci-orm-metrics/metrics-setup/variables.tf
  oci/oci-orm-metrics/metrics-setup/vcn.tf
  oci/oci-orm-metrics/policy-setup/policy.tf
  oci/oci-orm-metrics/policy-setup/variables.tf
Labels: none

ECI-201 Add terraform templates to serverless (#817)
  oci/oci-orm-metrics/metrics-setup/compartment.tf
  oci/oci-orm-metrics/metrics-setup/data.tf
  oci/oci-orm-metrics/metrics-setup/function_setup.tf
  oci/oci-orm-metrics/metrics-setup/functions.tf
  oci/oci-orm-metrics/metrics-setup/locals.tf
  oci/oci-orm-metrics/metrics-setup/metrics-function/Dockerfile
  oci/oci-orm-metrics/metrics-setup/metrics-function/func.py
  oci/oci-orm-metrics/metrics-setup/metrics-function/func.yaml
  oci/oci-orm-metrics/metrics-setup/metrics-function/requirements.txt
  oci/oci-orm-metrics/metrics-setup/outputs.tf
  oci/oci-orm-metrics/metrics-setup/provider.tf
  oci/oci-orm-metrics/metrics-setup/schema.yaml
  oci/oci-orm-metrics/metrics-setup/serviceconnector.tf
  oci/oci-orm-metrics/metrics-setup/variables.tf
  oci/oci-orm-metrics/metrics-setup/vcn.tf
  oci/oci-orm-metrics/policy-setup/policy.tf
  oci/oci-orm-metrics/policy-setup/variables.tf
Labels: none

ECI-201 Rename terraform template directory
  oci/datadog-oci-orm/metrics-setup/compartment.tf
  oci/datadog-oci-orm/metrics-setup/data.tf
  oci/datadog-oci-orm/metrics-setup/function_setup.tf
  oci/datadog-oci-orm/metrics-setup/functions.tf
  oci/datadog-oci-orm/metrics-setup/locals.tf
  oci/datadog-oci-orm/metrics-setup/metrics-function/Dockerfile
  oci/datadog-oci-orm/metrics-setup/metrics-function/func.py
  oci/datadog-oci-orm/metrics-setup/metrics-function/func.yaml
  oci/datadog-oci-orm/metrics-setup/metrics-function/requirements.txt
  oci/datadog-oci-orm/metrics-setup/outputs.tf
  oci/datadog-oci-orm/metrics-setup/provider.tf
  oci/datadog-oci-orm/metrics-setup/schema.yaml
  oci/datadog-oci-orm/metrics-setup/serviceconnector.tf
  oci/datadog-oci-orm/metrics-setup/variables.tf
  oci/datadog-oci-orm/metrics-setup/vcn.tf
  oci/datadog-oci-orm/policy-setup/policy.tf
  oci/datadog-oci-orm/policy-setup/variables.tf
Labels: none

ECI-201 Rename terraform template directory (#819)
  oci/datadog-oci-orm/metrics-setup/compartment.tf
  oci/datadog-oci-orm/metrics-setup/data.tf
  oci/datadog-oci-orm/metrics-setup/function_setup.tf
  oci/datadog-oci-orm/metrics-setup/functions.tf
  oci/datadog-oci-orm/metrics-setup/locals.tf
  oci/datadog-oci-orm/metrics-setup/metrics-function/Dockerfile
  oci/datadog-oci-orm/metrics-setup/metrics-function/func.py
  oci/datadog-oci-orm/metrics-setup/metrics-function/func.yaml
  oci/datadog-oci-orm/metrics-setup/metrics-function/requirements.txt
  oci/datadog-oci-orm/metrics-setup/outputs.tf
  oci/datadog-oci-orm/metrics-setup/provider.tf
  oci/datadog-oci-orm/metrics-setup/schema.yaml
  oci/datadog-oci-orm/metrics-setup/serviceconnector.tf
  oci/datadog-oci-orm/metrics-setup/variables.tf
  oci/datadog-oci-orm/metrics-setup/vcn.tf
  oci/datadog-oci-orm/policy-setup/policy.tf
  oci/datadog-oci-orm/policy-setup/variables.tf
Labels: none

Drop unrequired `s3:ListBucket` permission (#792)
  aws/logs_monitoring/template.yaml
Labels: aws

Update README.md (#814)
  aws/logs_monitoring/README.md
Labels: aws

ECI-201 Update documentation schema.yaml for application shape
  oci/datadog-oci-orm/metrics-setup/function_setup.tf
  oci/datadog-oci-orm/metrics-setup/functions.tf
  oci/datadog-oci-orm/metrics-setup/schema.yaml
  oci/datadog-oci-orm/metrics-setup/variables.tf
Labels: none

ECI-201 Update documentation schema.yaml for application shape (#820)
  oci/datadog-oci-orm/metrics-setup/function_setup.tf
  oci/datadog-oci-orm/metrics-setup/functions.tf
  oci/datadog-oci-orm/metrics-setup/schema.yaml
  oci/datadog-oci-orm/metrics-setup/variables.tf
Labels: none

Update README.md
  oci/README.md
Labels: none

Remove compartment creation from the setup
  oci/datadog-oci-orm/metrics-setup/compartment.tf
  oci/datadog-oci-orm/metrics-setup/function_setup.tf
  oci/datadog-oci-orm/metrics-setup/functions.tf
  oci/datadog-oci-orm/metrics-setup/locals.tf
  oci/datadog-oci-orm/metrics-setup/outputs.tf
  oci/datadog-oci-orm/metrics-setup/schema.yaml
  oci/datadog-oci-orm/metrics-setup/serviceconnector.tf
  oci/datadog-oci-orm/metrics-setup/variables.tf
  oci/datadog-oci-orm/metrics-setup/vcn.tf
Labels: none

ECI-201 Update README and remove compartment creation (#821)
  oci/README.md
  oci/datadog-oci-orm/metrics-setup/compartment.tf
  oci/datadog-oci-orm/metrics-setup/function_setup.tf
  oci/datadog-oci-orm/metrics-setup/functions.tf
  oci/datadog-oci-orm/metrics-setup/locals.tf
  oci/datadog-oci-orm/metrics-setup/outputs.tf
  oci/datadog-oci-orm/metrics-setup/schema.yaml
  oci/datadog-oci-orm/metrics-setup/serviceconnector.tf
  oci/datadog-oci-orm/metrics-setup/variables.tf
  oci/datadog-oci-orm/metrics-setup/vcn.tf
Labels: none

Bump version from 3.117.0 to 3.118.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

refactor(logs): Avoid compiling regex many times
  aws/logs_monitoring/logs/helpers.py
Labels: aws

fixup! refactor(logs): Avoid compiling regex many times
  aws/logs_monitoring/logs/helpers.py
Labels: aws

refactor(logs): Avoid compiling regex many times (#823)
  aws/logs_monitoring/logs/helpers.py
Labels: aws

ci(release): Updating release script to be fault tolerant
  aws/logs_monitoring/.editorconfig
  aws/logs_monitoring/release.sh
  aws/logs_monitoring/tools/build_bundle.sh
  aws/logs_monitoring/tools/installation_test.sh
  aws/logs_monitoring/tools/publish_layers.sh
  aws/logs_monitoring/tools/publish_prod.sh
  aws/logs_monitoring/tools/publish_sandbox.sh
  aws/logs_monitoring/trace_forwarder/scripts/build_linux_go_bin.sh
Labels: aws

fixup! ci(release): Updating release script to be fault tolerant
  aws/logs_monitoring/tools/publish_layers.sh
Labels: aws

Improve release scripts (#822)
  aws/logs_monitoring/.editorconfig
  aws/logs_monitoring/release.sh
  aws/logs_monitoring/tools/build_bundle.sh
  aws/logs_monitoring/tools/installation_test.sh
  aws/logs_monitoring/tools/publish_layers.sh
  aws/logs_monitoring/tools/publish_prod.sh
  aws/logs_monitoring/tools/publish_sandbox.sh
  aws/logs_monitoring/trace_forwarder/scripts/build_linux_go_bin.sh
Labels: aws

ci(release): Fixing the release script for prod
  aws/logs_monitoring/.editorconfig
  aws/logs_monitoring/release.sh
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/publish_prod.sh
  aws/logs_monitoring/trace_forwarder/README.md
Labels: aws

Delete oci directory as changes have been moved to oci-cloud-integration repo
  oci/README.md
  oci/datadog-oci-orm/metrics-setup/data.tf
  oci/datadog-oci-orm/metrics-setup/function_setup.tf
  oci/datadog-oci-orm/metrics-setup/functions.tf
  oci/datadog-oci-orm/metrics-setup/locals.tf
  oci/datadog-oci-orm/metrics-setup/metrics-function/Dockerfile
  oci/datadog-oci-orm/metrics-setup/metrics-function/func.py
  oci/datadog-oci-orm/metrics-setup/metrics-function/func.yaml
  oci/datadog-oci-orm/metrics-setup/metrics-function/requirements.txt
  oci/datadog-oci-orm/metrics-setup/outputs.tf
  oci/datadog-oci-orm/metrics-setup/provider.tf
  oci/datadog-oci-orm/metrics-setup/schema.yaml
  oci/datadog-oci-orm/metrics-setup/serviceconnector.tf
  oci/datadog-oci-orm/metrics-setup/variables.tf
  oci/datadog-oci-orm/metrics-setup/vcn.tf
  oci/datadog-oci-orm/policy-setup/policy.tf
  oci/datadog-oci-orm/policy-setup/variables.tf
  oci/dd-metrics-function.py
Labels: none

ci(release): Fixing the release script for prod (#825)
  aws/logs_monitoring/.editorconfig
  aws/logs_monitoring/release.sh
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/publish_prod.sh
  aws/logs_monitoring/trace_forwarder/README.md
Labels: aws

ci(release): Fixing wrong condition for committing changes
  aws/logs_monitoring/release.sh
Labels: aws

ci(release): Fixing wrong condition for committing changes (#827)
  aws/logs_monitoring/release.sh
Labels: aws

Fix environment variable declaration in the release script
  aws/logs_monitoring/tools/publish_prod.sh
Labels: aws

Fix environment variable declaration in the release script (#828)
  aws/logs_monitoring/tools/publish_prod.sh
Labels: aws

ci: Fixing commit duplicate in the release script
  aws/logs_monitoring/release.sh
Labels: aws

ci: Fixing commit duplicate in the release script (#829)
  aws/logs_monitoring/release.sh
Labels: aws

ci(release): Update version from 3.118.0 to 3.120.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

ci: use long ref to commit when creating release
  aws/logs_monitoring/release.sh
Labels: aws

ci: use long ref to commit when creating release (#830)
  aws/logs_monitoring/release.sh
Labels: aws

ci(release): Update version from 3.120.0 to 3.120.1
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Initial logic to add fetch and add the lambda tag
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/steps/enrichment.py
Labels: aws

Set tag in env var to avoid fetching everytime
  aws/logs_monitoring/steps/enrichment.py
Labels: aws

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*
