Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*

Bump version from 3.92.0 to 3.93.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.92.0 to 3.93.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.93.0 to 3.94.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.94.0 to 3.95.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

[AZINTS-1972] add resource collection and make cspm depend on it
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure-integrations, azure

[AZINTS-1972] try disabled instead of visible
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure-integrations, azure

Update aws/logs_monitoring/customized_log_group.py
  aws/logs_monitoring/customized_log_group.py
Labels: aws

[AZINTS-1972] trying out some options
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure-integrations, azure

Make it more durable
  aws/logs_monitoring/customized_log_group.py
Labels: aws

[AZINTS-1972] remove subsection and flip visibility
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure-integrations, azure

[AZINTS-1972] remove extra spaces
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure-integrations, azure

[AZINTS-1972] update wording and add output
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure-integrations, azure

[AZINTS-1972] fix wording again
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure-integrations, azure

[AZINTS-1972] update management group ui definition
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
Labels: azure-integrations, azure

[AZINTS-1972] update azuredeploys
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

To support Lambda customized log group (#709)
  aws/logs_monitoring/customized_log_group.py
  aws/logs_monitoring/parsing.py
  aws/logs_monitoring/tests/test_customized_log_group.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws

[AZINTS-1972] trying something
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure-integrations, azure

[AZINTS-1972] Update Subscription level to move resource collection stuff to be its own section
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure-integrations, azure

[AZINTS-1972] Update Management Group level to move resource collection stuff to be its own section
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
Labels: azure-integrations, azure

[AZINTS-1972] Reformat templates based on feedback
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure-integrations, azure

[AZINTS-1972] Update wording
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure-integrations, azure

[AZINTS-1972] move logic into ui definition template instead of deploy template
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

[AZINTS-1972] remove redundant `and` logic
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

[AZURE] Update ARM templates to include resource collection (#711)
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

service principal v2
  azure/deploy-to-azure/azure-integration/CreateUiDefinition.json
Labels: azure-integrations, azure

remove region param
  aws/logs_monitoring/README.md
Labels: aws

add clarification
  aws/logs_monitoring/README.md
Labels: aws

approval testing
  aws/logs_monitoring/__init__.py
  aws/logs_monitoring/tests/TestLambdaFunctionEndToEnd.test_datadog_forwarder.approved.json
  aws/logs_monitoring/tests/__init__.py
  aws/logs_monitoring/tests/test_lambda_function.py
Labels: aws

move approved files to specific folder
  aws/logs_monitoring/tests/approvaltests_config.json
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_datadog_forwarder.approved.json
Labels: aws

move parsing tests to approvals
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.metadata.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.metadata.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseAwsWafLogs.test_waf_headers.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseAwsWafLogs.test_waf_non_terminating_matching_rules.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseAwsWafLogs.test_waf_rate_based_rules.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseAwsWafLogs.test_waf_rule_group_three_rules_two_group_ids.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseAwsWafLogs.test_waf_rule_group_two_rules_same_group_id.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseAwsWafLogs.test_waf_rule_group_with_excluded_and_nonterminating_rules.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseSecurityHubEvents.test_security_hub_multiple_findings_multiple_resources.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseSecurityHubEvents.test_security_hub_one_finding_no_resources.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseSecurityHubEvents.test_security_hub_two_findings_one_resource_each.approved.json
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

format black
  aws/logs_monitoring/tests/__init__.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

approval tests in gh actions
  .github/workflows/test.yml
Labels: none

specific imports
  aws/logs_monitoring/tests/__init__.py
Labels: aws

add support for approval testing
  .github/workflows/test.yml
  aws/logs_monitoring/__init__.py
  aws/logs_monitoring/tests/__init__.py
  aws/logs_monitoring/tests/approvaltests_config.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.metadata.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.metadata.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_datadog_forwarder.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseAwsWafLogs.test_waf_headers.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseAwsWafLogs.test_waf_non_terminating_matching_rules.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseAwsWafLogs.test_waf_rate_based_rules.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseAwsWafLogs.test_waf_rule_group_three_rules_two_group_ids.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseAwsWafLogs.test_waf_rule_group_two_rules_same_group_id.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseAwsWafLogs.test_waf_rule_group_with_excluded_and_nonterminating_rules.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseSecurityHubEvents.test_security_hub_multiple_findings_multiple_resources.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseSecurityHubEvents.test_security_hub_one_finding_no_resources.approved.json
  aws/logs_monitoring/tests/approved_files/TestParseSecurityHubEvents.test_security_hub_two_findings_one_resource_each.approved.json
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

[CLOUDS-4012] Fix service tag setting in lambda forwarder
  aws/logs_monitoring/lambda_cache.py
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/parsing.py
Labels: aws

Fix a bug in setting the service tag from the message
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_service_tag.json
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_service_tag.json~snapshot
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws

Fix Formatting on test_parsing.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

Fix Unit tests, Integration tests, python formatting
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/parsing.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_custom_tags.json~snapshot
Labels: aws

Add UTests
  aws/logs_monitoring/tests/test_lambda_function.py
Labels: aws

Make tags output order consistent when extracting message tags
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_custom_tags.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_service_tag.json~snapshot
Labels: aws
