Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*

Added test cases, for fixPropertiesJsonString for code coverage
  azure/test/activity_logs_monitoring.test.js
Labels: azure-integrations, azure

Applied recommendation from mattsp1290, which simplifies the if condition
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

Finalized the simplified function, added missing return statements
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

Added additional test cases for fixPropertiesJsonString, that handles nested objects and no properties field
  azure/test/activity_logs_monitoring.test.js
Labels: azure-integrations, azure

[AWSX] doc(logs forwarder): update tracing cloudformation template var description
  aws/logs_monitoring/template.yaml
Labels: aws

[AWSX] doc(logs forwarder): update tracing cloudformation template var description (#1016)
  aws/logs_monitoring/template.yaml
Labels: aws

Add docs as codeowners (#1005)
  .github/CODEOWNERS
Labels: none

ci(release): Update version from 4.15.0 to 5.0.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

ci(release): Update version from 4.15.0 to 5.0.0 (#1018)
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

AWS KMS.1 compliant policy with dedicated kms key list
  aws/logs_monitoring/template.yaml
Labels: aws

docs(aws): Update documentation related to include at match
  aws/logs_monitoring/README.md
Labels: aws

Update aws/logs_monitoring/README.md
  aws/logs_monitoring/README.md
Labels: aws

docs(aws): Update documentation related to include at match (#1021)
  aws/logs_monitoring/README.md
Labels: aws

fix(aws): Support http/429 as a retryable status code
  aws/logs_monitoring/lambda_function.py
Labels: aws

fix(aws): Support http/429 as a retryable status code (#1022)
  aws/logs_monitoring/lambda_function.py
Labels: aws

fix(azure): Add security properties to ARM template for policy compliance
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

fix(azure): Add security properties to ARM template for policy compliance (#1023)
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

[azure] Use variable instead of hardcoded value for eventHubName, fix potential deployment issue error, update versions (#988)
  azure/activity_logs_monitoring/index.js
  azure/activity_logs_monitoring/package-lock.json
  azure/activity_logs_monitoring/package.json
Labels: azure-integrations, azure

(Azure) Resolve invalid JSON Object under properties field (#1015)
  azure/activity_logs_monitoring/index.js
  azure/test/activity_logs_monitoring.test.js
Labels: azure-integrations, azure

update event hub forwarder and template
  azure/activity_logs_monitoring/deploy.zip
  azure/activity_logs_monitoring/index.js
  azure/activity_logs_monitoring/package-lock.json
  azure/activity_logs_monitoring/package.json
  azure/eventhub_log_forwarder/activity_log_diagnostic_settings.json
  azure/eventhub_log_forwarder/event_hub.json
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure-integrations, azure

Revert "update event hub forwarder and template"
  azure/activity_logs_monitoring/deploy.zip
  azure/activity_logs_monitoring/index.js
  azure/activity_logs_monitoring/package-lock.json
  azure/activity_logs_monitoring/package.json
  azure/eventhub_log_forwarder/activity_log_diagnostic_settings.json
  azure/eventhub_log_forwarder/event_hub.json
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure-integrations, azure

Reapply "update event hub forwarder and template"
  azure/activity_logs_monitoring/deploy.zip
  azure/activity_logs_monitoring/index.js
  azure/activity_logs_monitoring/package-lock.json
  azure/activity_logs_monitoring/package.json
  azure/eventhub_log_forwarder/activity_log_diagnostic_settings.json
  azure/eventhub_log_forwarder/event_hub.json
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure-integrations, azure

reduce return paths and rename function
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

update zip with reduced return paths
  azure/activity_logs_monitoring/deploy.zip
Labels: azure-integrations, azure

rename to parseProperties
  azure/activity_logs_monitoring/index.js
  azure/test/activity_logs_monitoring.test.js
Labels: azure-integrations, azure

return after setting properties
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

use let
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

regen the deploy zip
  azure/activity_logs_monitoring/deploy.zip
Labels: azure-integrations, azure

add the dash back for event hub name
  azure/activity_logs_monitoring/index.js
  azure/eventhub_log_forwarder/activity_log_diagnostic_settings.json
  azure/eventhub_log_forwarder/event_hub.json
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure-integrations, azure

regen the deploy zip
  azure/activity_logs_monitoring/deploy.zip
Labels: azure-integrations, azure

let -> const
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

update event hub forwarder and template (#1024)
  azure/activity_logs_monitoring/deploy.zip
  azure/activity_logs_monitoring/index.js
  azure/activity_logs_monitoring/package-lock.json
  azure/activity_logs_monitoring/package.json
  azure/test/activity_logs_monitoring.test.js
Labels: azure-integrations, azure

refactor kms:Decrypt policy
  aws/logs_monitoring/template.yaml
Labels: aws

AWS KMS.1 compliant policy with dedicated kms key list (#1020)
  aws/logs_monitoring/template.yaml
Labels: aws

feat(aws): AWSX-2034 Continue if we fail to validate api key but storage of failed event enabled
  .github/workflows/aws_unit_test.yml
  aws/logs_monitoring/README.md
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/logs/datadog_http_client.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/tests/run_unit_tests.sh
  aws/logs_monitoring/tools/integration_tests/docker-compose.yml
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws

feat(aws): AWSX-2034 Adding failed metric for event
  aws/logs_monitoring/forwarder.py
Labels: aws

fixup! feat(aws): AWSX-2034 Continue if we fail to validate api key but storage of failed event enabled
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws

feat(aws): AWSX-2034 Continue if we fail to validate api key but storage of failed event enabled (#1026)
  .github/workflows/aws_unit_test.yml
  aws/logs_monitoring/README.md
  aws/logs_monitoring/forwarder.py
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/logs/datadog_http_client.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/tests/run_unit_tests.sh
  aws/logs_monitoring/tools/integration_tests/docker-compose.yml
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
Labels: aws

feat(aws): Add scheduled invocation for retry event
  aws/logs_monitoring/README.md
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/template.yaml
Labels: aws

feat(aws): add docs for deploying forwarder stack as stackset
  aws/logs_monitoring/README.md
Labels: aws
