Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*

fix(aws): Remove none extracted value by regex (#870)
  aws/logs_monitoring/steps/handlers/s3_handler.py
Labels: aws

ci(release): Update version from 3.131.0 to 3.132.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

enable S3 Bucket key by default
  aws/logs_monitoring/template.yaml
Labels: aws

enable S3 Bucket key by default (#872)
  aws/logs_monitoring/template.yaml
Labels: aws

Add ability to specify IAM Role path.
  aws/logs_monitoring/template.yaml
Labels: aws

fix(enrichment): look for service as key, not as value in extracted ddtags
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/tests/test_enrichment.py
Labels: aws

[WIP][AWS logs forwarder] Support Py 3.12
  aws/logs_monitoring/requirements.txt
  aws/logs_monitoring/setup.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/build_bundle.sh
  aws/logs_monitoring/tools/integration_tests/docker-compose.yml
  aws/logs_monitoring/tools/integration_tests/forwarder/Dockerfile
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_cloudtrail.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_coldstart.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_custom_tags.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_fsx_windows.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_service_tag.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_timeout.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/step_functions_log.json~snapshot
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
  aws/logs_monitoring/trace_forwarder/scripts/build_linux_go_bin.sh
  aws/logs_monitoring/trace_forwarder/scripts/run_tests.sh
Labels: aws

Update github workflow
  .github/workflows/integration_test.yml
  .github/workflows/test.yml
  aws/logs_monitoring/requirements.txt
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/integration_tests/docker-compose.yml
  aws/logs_monitoring/tools/integration_tests/forwarder/Dockerfile
  aws/logs_monitoring/tools/integration_tests/recorder/pb/span_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_payload_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_pb2.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_cloudtrail.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_coldstart.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_custom_tags.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_fsx_windows.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_service_tag.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_timeout.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/step_functions_log.json~snapshot
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws

add missing package ujson
  aws/logs_monitoring/requirements.txt
Labels: aws

[AWS logs forwarder] Support Python 3.12 (#878)
  .github/workflows/integration_test.yml
  .github/workflows/test.yml
  aws/logs_monitoring/requirements.txt
  aws/logs_monitoring/setup.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/build_bundle.sh
  aws/logs_monitoring/tools/integration_tests/docker-compose.yml
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/tools/integration_tests/recorder/pb/span_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_payload_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_pb2.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_cloudtrail.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_coldstart.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_custom_tags.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_fsx_windows.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_service_tag.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_timeout.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/step_functions_log.json~snapshot
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
  aws/logs_monitoring/trace_forwarder/scripts/build_linux_go_bin.sh
  aws/logs_monitoring/trace_forwarder/scripts/run_tests.sh
Labels: aws

fix(aws): Don't build the cache on cold start
  aws/logs_monitoring/caching/cloudwatch_log_group_cache.py
Labels: aws

fix(aws): Don't build the cache on cold start (#879)
  aws/logs_monitoring/caching/cloudwatch_log_group_cache.py
Labels: aws

Update AWS permission for the parameter DdFetchLogGroupTags
  aws/logs_monitoring/README.md
Labels: aws

Update AWS permission for the parameter DdFetchLogGroupTags (#880)
  aws/logs_monitoring/README.md
Labels: aws

ci(release): Update version from 3.132.0 to 3.133.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

[AWSX][Logs forwarder] Remove RDS source identification
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.metadata.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

bump forwarder version
  aws/logs_monitoring/settings.py
Labels: aws

[AWSX][Logs forwarder] Remove RDS source identification (#881)
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.metadata.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

[AWS log forwarder] Add datadog release option to the release script
  aws/logs_monitoring/release.sh
Labels: aws

[AWS log forwarder] Don't sign forwarder's bundle when releasing to datadog prod private bucket
  aws/logs_monitoring/release.sh
Labels: aws

[AWS log forwarder] Add datadog release option to the release script
  aws/logs_monitoring/release.sh
Labels: aws

[AWS log forwarder] Add datadog release option to the release script (#884)
  aws/logs_monitoring/release.sh
Labels: aws

[Logs forwarder] Fix a typo in the release file
  aws/logs_monitoring/release.sh
Labels: aws

[Logs forwarder] Fix a typo in the release file (#885)
  aws/logs_monitoring/release.sh
Labels: aws

[Logs forwarder] Update README
  aws/logs_monitoring/README.md
Labels: aws

amend comment
  aws/logs_monitoring/README.md
Labels: aws

[Logs forwarder] Update README (#886)
  aws/logs_monitoring/README.md
Labels: aws

feat(aws): AWSX-1388 Remove som arn extraction to move them to ingest
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
Labels: aws

fixup! feat(aws): AWSX-1388 Remove som arn extraction to move them to ingest
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

fixup! feat(aws): AWSX-1388 Remove som arn extraction to move them to ingest
  aws/logs_monitoring/tests/test_awslogs_handler.py
Labels: aws

[AWS log forwarder] Generate new objects per each received event in AWS logs handler
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tests/test_awslogs_handler.py
Labels: aws

update codeowners file for aws logs forwarder
  .github/CODEOWNERS
Labels: none

[AWS log forwarder] Generate new objects per each received event record in AWS logs handler (#888)
  .github/CODEOWNERS
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tests/test_awslogs_handler.py
Labels: aws

ci(release): Update version from 3.133.0 to 3.134.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

ci(release): Update version from 3.134.0 to 4.0.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

[AWS log forwarder] Align published layers Python version with the current runtime 3.12
  .github/workflows/lint.yml
  aws/logs_monitoring/README.md
  aws/logs_monitoring/tools/integration_tests/cache_test_lambda/serverless.yml
  aws/logs_monitoring/tools/publish_layers.sh
Labels: aws

[AWS log forwarder] Align published layers Python version with the current runtime 3.12 (#889)
  .github/workflows/lint.yml
  aws/logs_monitoring/README.md
  aws/logs_monitoring/tools/integration_tests/cache_test_lambda/serverless.yml
  aws/logs_monitoring/tools/publish_layers.sh
Labels: aws

ci(release): Update version from 4.0.0 to 4.0.1
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Upgrade to nodejs 20
  .github/workflows/azure_tests.yml
  azure/deploy-to-azure/function_template.json
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

temporarily change template link
  azure/deploy-to-azure/parent_template.json
Labels: azure-integrations, azure
