Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*

ci(release): Update version from 4.0.2 to 4.1.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Change UseVPC to DdUseVPC in PrivateLink documentation (#732)
  aws/logs_monitoring/README.md
Labels: aws

Update README.md (#741)
  aws/logs_monitoring/README.md
Labels: aws

[AWS logs forwarder] Address closed PRs
  aws/logs_monitoring/README.md
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

update approval tests
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_lambda_log.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_customized_log_group.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

black
  aws/logs_monitoring/tests/test_awslogs_handler.py
Labels: aws

fix lambda prefix typo
  aws/logs_monitoring/steps/enums.py
Labels: aws

[AWS logs forwarder] Addressing closed PRs (#900)
  aws/logs_monitoring/README.md
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_lambda_log.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_customized_log_group.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

[AWSX] Upgrade Python version to 3.12 for RDS and VPC flow monitoring templates
  aws/.gitignore
  aws/rds_enhanced_monitoring.zip
  aws/rds_enhanced_monitoring/README.md
  aws/rds_enhanced_monitoring/rds-enhanced-sam-template.yaml
  aws/vpc_flow_log_monitoring.zip
  aws/vpc_flow_log_monitoring/README.md
  aws/vpc_flow_log_monitoring/vpc-flow-log-sam-template.yaml
Labels: aws

[AWSX] Upgrade Python version to 3.12 for RDS and VPC flow monitoring templates (#901)
  aws/.gitignore
  aws/rds_enhanced_monitoring.zip
  aws/rds_enhanced_monitoring/README.md
  aws/rds_enhanced_monitoring/rds-enhanced-sam-template.yaml
  aws/vpc_flow_log_monitoring.zip
  aws/vpc_flow_log_monitoring/README.md
  aws/vpc_flow_log_monitoring/vpc-flow-log-sam-template.yaml
Labels: aws

Address closed PRs - take 2
  aws/logs_monitoring/README.md
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
Labels: aws

Address closed PRs - take 2 (#904)
  aws/logs_monitoring/README.md
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
Labels: aws

[AWS Logs Forwarder] Re-add Datadog tabs to readme file
  aws/logs_monitoring/README.md
Labels: aws

[AWS Logs Forwarder] Re-add Datadog tabs to readme file (#905)
  aws/logs_monitoring/README.md
Labels: aws

feat(aws): AWSX-1388 Remove elb ARN extraction to move it to logs-backend
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

feat(aws): AWSX-1388 Remove elb ARN extraction to move it to logs-backend (#887)
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

chore(deps): Using a more recent go version for building
  aws/logs_monitoring/.editorconfig
  aws/logs_monitoring/trace_forwarder/Dockerfile
  aws/logs_monitoring/trace_forwarder/Gopkg.lock
  aws/logs_monitoring/trace_forwarder/Gopkg.toml
  aws/logs_monitoring/trace_forwarder/Makefile
  aws/logs_monitoring/trace_forwarder/README.md
  aws/logs_monitoring/trace_forwarder/cmd/trace/main.go
  aws/logs_monitoring/trace_forwarder/go.mod
  aws/logs_monitoring/trace_forwarder/go.sum
  aws/logs_monitoring/trace_forwarder/internal/apm/model.go
  aws/logs_monitoring/trace_forwarder/internal/apm/model_test.go
  aws/logs_monitoring/trace_forwarder/internal/apm/stats.go
  aws/logs_monitoring/trace_forwarder/internal/apm/trace-connection.go
Labels: aws

fixup! chore(deps): Using a more recent go version for building
  aws/logs_monitoring/.editorconfig
  aws/logs_monitoring/trace_forwarder/cmd/trace/main.go
  aws/logs_monitoring/trace_forwarder/cmd/trace/main_test.go
  aws/logs_monitoring/trace_forwarder/go.mod
  aws/logs_monitoring/trace_forwarder/internal/apm/model_test.go
Labels: aws

Update comment wording
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

Adding comment to update datadog service name (#899)
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

add ability set DD API key name form the env vars
  aws/logs_monitoring/lambda_function.py
Labels: aws

feat(aws): AWSX-1391 Move redshift source identification to backend
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

[AWSX][Logs Forwarder] Enable Email and IP redaction based on user config
  aws/logs_monitoring/logs/datadog_scrubber.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/tests/test_logs.py
Labels: aws

[AWSX][Logs Forwarder] Enable Email and IP redaction based on user config (#910)
  aws/logs_monitoring/logs/datadog_scrubber.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/tests/test_logs.py
Labels: aws

feat(aws): AWSX-1391 Move redshift source identification to backend
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

Polish the language to recommend Lambda Extension over forwarder
  aws/logs_monitoring/README.md
Labels: aws

feat(aws): AWSX-1391 AWSX-1390 Move cloudfront to logs-backend
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

ci(release): Update version from 4.1.0 to 4.2.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

[AWSX][Logs Forwarder] fix: custom message ddtags extraction
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/tests/test_enrichment.py
Labels: aws

[AWSX][Logs Forwarder] fix: custom message ddtags extraction (#913)
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/tests/test_enrichment.py
Labels: aws

[AWSX][Logs Forwarder] Support a single Python version (current 3.12)
  .github/workflows/integration_test.yml
  .github/workflows/test.yml
  aws/logs_monitoring/README.md
  aws/logs_monitoring/setup.py
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
Labels: aws

fix labeler workflow
  .github/workflows/pr.yaml
Labels: none

[AWSX][Logs Forwarder] Support a single Python version (current 3.12) (#914)
  .github/workflows/integration_test.yml
  .github/workflows/pr.yaml
  .github/workflows/test.yml
  aws/logs_monitoring/README.md
  aws/logs_monitoring/setup.py
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
Labels: aws

feat(aws): AWSX-1391 Move redshift source identification to backend
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

feat(aws): AWSX-1391 AWSX-1390 Move cloudfront to logs-backend
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

test(logs): AWSX-1391 Keep the test for removed source but use default value
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

[AWSX][Logs Forwarder] Allow to set SSM parameter name for DD API Key in CFT
  aws/logs_monitoring/template.yaml
Labels: aws

fix code owners on template file
  .github/CODEOWNERS
Labels: none

[AWSX][Logs Forwarder] Allow to set SSM parameter name for DD API Key in CFT (#915)
  .github/CODEOWNERS
  aws/logs_monitoring/template.yaml
Labels: aws

test(logs): AWSX-1391 Keep the test for removed source but use default value
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws
