Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

feat(aws): AWSX-1391 AWSX-1390 Move cloudfront to logs-backend
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

feat(aws): AWSX-1391 Move redshift source identification to backend
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

fixup! test(logs): AWSX-1391 Keep the test for removed source but use default value
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

feat(aws): AWSX-1391 Move redshift and cloudfront source identification to backend (#909)
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

feat(logs): AWSX-1389 Moving s3 access logs identification to backend
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_cloudtrail_s3.py
  aws/logs_monitoring/tests/test_customized_log_group.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

Update README.md
  aws/logs_monitoring/README.md
Labels: aws

Update README.md (#918)
  aws/logs_monitoring/README.md
Labels: aws

tls 1.2 for event hubs and storage accts
  azure/deploy-to-azure/event_hub.json
  azure/deploy-to-azure/function_template.json
  azure/eventhub_log_forwarder/event_hub.json
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

api versions + testing
  azure/deploy-to-azure/event_hub.json
  azure/deploy-to-azure/function_template.json
  azure/deploy-to-azure/parent_template.json
  azure/eventhub_log_forwarder/activity_logs_deploy.ps1
  azure/eventhub_log_forwarder/event_hub.json
  azure/eventhub_log_forwarder/function_template.json
  azure/eventhub_log_forwarder/parent_template.json
  azure/eventhub_log_forwarder/resource_deploy.ps1
Labels: azure-integrations, azure

back to master branch for urls
  azure/deploy-to-azure/function_template.json
  azure/deploy-to-azure/parent_template.json
  azure/eventhub_log_forwarder/activity_logs_deploy.ps1
  azure/eventhub_log_forwarder/parent_template.json
  azure/eventhub_log_forwarder/resource_deploy.ps1
Labels: azure-integrations, azure

missed one branch replacement
  azure/eventhub_log_forwarder/activity_logs_deploy.ps1
Labels: azure-integrations, azure

Upgrade Azure Log Forwader's EventHub/Storage Acct TLS versions (#919)
  azure/deploy-to-azure/event_hub.json
  azure/deploy-to-azure/function_template.json
  azure/deploy-to-azure/parent_template.json
  azure/eventhub_log_forwarder/event_hub.json
  azure/eventhub_log_forwarder/function_template.json
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure-integrations, azure

[AWSX] fix(vpc_flow_log_monitoring) Batch metric series before submission
  aws/vpc_flow_log_monitoring/lambda_function.py
Labels: aws

add test
  aws/vpc_flow_log_monitoring/tests/__init__.py
  aws/vpc_flow_log_monitoring/tests/test_lambda_funciton.py
Labels: aws

add comment
  aws/vpc_flow_log_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/tests/test_lambda_funciton.py
Labels: aws

run tests in CI
  .github/workflows/test.yml
Labels: none

run github workflows for vpc flow monitoring
  .github/workflows/aws_integration_test.yml
  .github/workflows/aws_lint.yml
  .github/workflows/aws_unit_test.yml
Labels: none

Remove TTP protocol
  aws/vpc_flow_log_monitoring/lambda_function.py
Labels: aws

format
  aws/vpc_flow_log_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/tests/test_lambda_funciton.py
Labels: aws

fix cfn template
  aws/vpc_flow_log_monitoring/vpc-flow-log-sam-template.yaml
Labels: aws

update test
  aws/vpc_flow_log_monitoring/tests/test_lambda_funciton.py
Labels: aws

small refacto
  aws/vpc_flow_log_monitoring/lambda_function.py
Labels: aws

[AWSX] fix(vpc_flow_log_monitoring) Batch metric series before submission (#921)
  .github/workflows/aws_integration_test.yml
  .github/workflows/aws_lint.yml
  .github/workflows/aws_unit_test.yml
  aws/vpc_flow_log_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/tests/__init__.py
  aws/vpc_flow_log_monitoring/tests/test_lambda_funciton.py
  aws/vpc_flow_log_monitoring/vpc-flow-log-sam-template.yaml
Labels: aws

[AWSX][Logs Forwarder] Trim some unnecessary tags
  aws/logs_monitoring/enhanced_lambda_metrics.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/steps/common.py
Labels: aws

update tests
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_lambda_log.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_customized_log_group.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_json.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_out_of_memory.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_timeout.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_with_tags.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_parse_lambda_tags_from_arn.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_datadog_forwarder.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_kinesis_awslogs_handler.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_env.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_w_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_wo_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_service_and_ddtags.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_wo_service.approved.json
  aws/logs_monitoring/tests/test_cloudtrail_s3.py
Labels: aws

add function_version when not latest + update Itests
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_cloudtrail_s3.py
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_cloudtrail.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_custom_tags.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_fsx_windows.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_service_tag.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_timeout.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/step_functions_log.json~snapshot
Labels: aws

[AWSX][Logs Forwarder] Trim some unnecessary tags (#922)
  aws/logs_monitoring/enhanced_lambda_metrics.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_lambda_log.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_customized_log_group.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_json.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_out_of_memory.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_timeout.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_with_tags.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_parse_lambda_tags_from_arn.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_datadog_forwarder.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_kinesis_awslogs_handler.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_env.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_w_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_wo_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_service_and_ddtags.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_wo_service.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_cloudtrail_s3.py
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_cloudtrail.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_custom_tags.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_fsx_windows.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_service_tag.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_timeout.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/step_functions_log.json~snapshot
Labels: aws

ci(release): Update version from 4.2.0 to 4.3.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

feat(logs): AWSX-1389 Moving s3 access logs identification to backend (#916)
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_cloudtrail_s3.py
  aws/logs_monitoring/tests/test_customized_log_group.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

feat(aws): CLOUDS-5876 Adding a way to override the source
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_handle_with_overridden_source.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

fixup! feat(aws): CLOUDS-5876 Adding a way to override the source
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_handle_with_overridden_source.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

fixup! feat(aws): CLOUDS-5876 Adding a way to override the source
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_handle_with_overridden_source.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_lambda_function.py
Labels: aws

fixup! feat(aws): CLOUDS-5876 Adding a way to override the source
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_handle_with_overridden_source.approved.json
Labels: aws

[AWSX-1559] feat: update Python version to 3.13
  .github/workflows/aws_integration_test.yml
  .github/workflows/aws_lint.yml
  .github/workflows/aws_unit_test.yml
  aws/logs_monitoring/setup.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/build_bundle.sh
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/trace_forwarder/scripts/build_linux_go_bin.sh
  aws/logs_monitoring/trace_forwarder/scripts/run_tests.sh
Labels: aws

[AWSX-1559] feat: update version
  aws/logs_monitoring/tools/integration_tests/cache_test_lambda/serverless.yml
  aws/logs_monitoring/tools/publish_layers.sh
  aws/vpc_flow_log_monitoring/vpc-flow-log-sam-template.yaml
Labels: aws

[AWSX-1559] chore: update version
  aws/rds_enhanced_monitoring/rds-enhanced-sam-template.yaml
Labels: aws

feat(aws): CLOUDS-5876 Adding a way to override the source (#923)
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_handle_with_overridden_source.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

ci(release): Update version from 4.3.0 to 4.4.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

[AWSX] fix(vpc_flow_log_monitoring) Account for json encoding overhead while batching metrics series
  aws/vpc_flow_log_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/tests/test_lambda_funciton.py
Labels: aws

ignore flak8 F824 https://github.com/sympy/sympy/issues/27855
  .github/workflows/aws_lint.yml
  aws/vpc_flow_log_monitoring/lambda_function.py
Labels: aws

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*
