Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*

[AWSC] Take into account comment
  aws/logs_monitoring/parsing.py
Labels: aws

[AWSC] Add additional host parsing for VA (#640)
  aws/logs_monitoring/parsing.py
Labels: aws

template test
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

Bump version from 3.71.0 to 3.72.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.72.0 to 3.73.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

test subscription like flow for MG
  azure/deploy-to-azure/azure-integration/CreateUIDefinitionMG.json
  azure/deploy-to-azure/azure-integration/mgcustomui.json
Labels: azure-integrations, azure

MG list test
  azure/deploy-to-azure/azure-integration/CreateUIDefinitionMGList.json
  azure/deploy-to-azure/azure-integration/mgarmtemplate.json
Labels: azure-integrations, azure

remove location
  azure/deploy-to-azure/azure-integration/mgarmtemplate.json
Labels: azure-integrations, azure

remove trailing comma
  azure/deploy-to-azure/azure-integration/mgarmtemplate.json
Labels: azure-integrations, azure

test copyIndex output
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

remove output
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

mg template like subscription template with app reg
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

fix typos
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

remove copyIndex
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

managementGroupName input
  azure/deploy-to-azure/azure-integration/CreateUIDefinitionMG.json
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

missing quotes
  azure/deploy-to-azure/azure-integration/CreateUIDefinitionMG.json
Labels: azure-integrations, azure

set default
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

test subs template
  azure/deploy-to-azure/azure-integration/CreateUiDefinition.json
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

remove subid
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

revert to master
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

iterate over MG list
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

guid
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

fix guid
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

type case
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

simplify for test
  azure/deploy-to-azure/azure-integration/CreateUiDefinition.json
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

define inner param
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

refer scoped MG
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

testing parameters
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

add trigger step for terraform
  aws/logs_monitoring/README.md
Labels: aws

Fix capitalization of 'Arns' in 'AdditionalTargetLambdaArns'
  aws/logs_monitoring/README.md
Labels: aws

add trigger step for terraform (#641)
  aws/logs_monitoring/README.md
Labels: aws

Fix capitalization of 'Arns' in 'AdditionalTargetLambdaArns' (#642)
  aws/logs_monitoring/README.md
Labels: aws

trial templat
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

Bug bounty test - please ignore.... (tgyrmi)
  aws/logs_monitoring/setup.py
  azure/package.json
Labels: azure-integrations, azure, aws

parameterized location
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

schema scope
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

output
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

scope
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

MG with app registration
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

location
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure
