Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

[AWSC] unit testing + github workflow for RDS enhanced metrics
  .github/workflows/lint.yml
  .github/workflows/test.yml
  aws/rds_enhanced_monitoring/lambda_function.py
  aws/rds_enhanced_monitoring/tests/test_rds_metrics.py
Labels: aws

[AWSC] Fix CF template name for RDS metrics
  .github/workflows/lint.yml
Labels: none

[AWSC] Lint template file for RDS metrics
  aws/rds_enhanced_monitoring/rds-enhanced-sam-template.yaml
Labels: aws

[AWSC] Add unit test
  aws/rds_enhanced_monitoring/tests/test_rds_metrics.py
Labels: aws

[AWSC] Add try/except pattern to revert to previous code in case of error
  aws/rds_enhanced_monitoring/lambda_function.py
Labels: aws

[AWSC] fix linter
  aws/rds_enhanced_monitoring/tests/test_rds_metrics.py
Labels: aws

[AWSC] Updating Python version
  .github/workflows/integration_test.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  aws/logs_monitoring/README.md
  aws/logs_monitoring/setup.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/add_new_region.sh
  aws/logs_monitoring/tools/build_bundle.sh
  aws/logs_monitoring/tools/integration_tests/cache_test_lambda/serverless.yml
  aws/logs_monitoring/tools/integration_tests/docker-compose.yml
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/tools/publish_layers.sh
Labels: aws

[AWSC] Update docker image for integration tests
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/tools/integration_tests/recorder/Dockerfile
  aws/logs_monitoring/tools/integration_tests/tester/Dockerfile
Labels: aws

[AWSC] Remove testing for Python 3.7
  .github/workflows/integration_test.yml
  .github/workflows/test.yml
Labels: none

[AWSC] Fixing integration tests
  aws/logs_monitoring/setup.py
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
Labels: aws

[AWSC] Change image
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
Labels: aws

[AWSC] integration test fixing
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws

replicate customer PR changes
  azure/deploy-to-azure/event_hub.json
  azure/deploy-to-azure/parent_template.json
Labels: azure-integrations, azure

[AWSC] integration tests
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws

[AWSC] Move processing out of try except pattern
  aws/rds_enhanced_monitoring/lambda_function.py
Labels: aws

[AWSC] integration tests
  .github/workflows/integration_test.yml
  aws/logs_monitoring/tools/integration_tests/docker-compose.yml
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
Labels: aws

[AWSC] integration tests
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
Labels: aws

[AWSC] integration tests
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
Labels: aws

[AWSC] Cleanup
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws

[AWSC] Updating RDS parsing method to support multiple json objects (#666)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  aws/rds_enhanced_monitoring/__init__.py
  aws/rds_enhanced_monitoring/lambda_function.py
  aws/rds_enhanced_monitoring/rds-enhanced-sam-template.yaml
  aws/rds_enhanced_monitoring/tests/__init__.py
  aws/rds_enhanced_monitoring/tests/run_unit_tests.sh
  aws/rds_enhanced_monitoring/tests/test_rds_metrics.py
Labels: aws

[AWSC] Updating Python version 3.8 -> 3.9 (#667)
  .github/workflows/integration_test.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  aws/logs_monitoring/README.md
  aws/logs_monitoring/setup.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/add_new_region.sh
  aws/logs_monitoring/tools/build_bundle.sh
  aws/logs_monitoring/tools/integration_tests/cache_test_lambda/serverless.yml
  aws/logs_monitoring/tools/integration_tests/docker-compose.yml
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/tools/integration_tests/recorder/Dockerfile
  aws/logs_monitoring/tools/integration_tests/tester/Dockerfile
  aws/logs_monitoring/tools/publish_layers.sh
Labels: aws

[AWSC] Fix decoding of API key under DD_KMS_API_KEY
  aws/rds_enhanced_monitoring/lambda_function.py
Labels: aws

[AWSC] Add try except for backward compatibility
  aws/rds_enhanced_monitoring/lambda_function.py
Labels: aws

[AWSC] Fix decoding of API key under DD_KMS_API_KEY (#668)
  aws/rds_enhanced_monitoring/lambda_function.py
Labels: aws

use span metadata env if available
  aws/logs_monitoring/trace_forwarder/internal/apm/model.go
Labels: aws

only reassign env if tag value is a real value
  aws/logs_monitoring/trace_forwarder/internal/apm/model.go
Labels: aws

[AWSC] Bump py version of RDS/VPC Lambdas, align API key decoding
  aws/logs_monitoring/settings.py
  aws/rds_enhanced_monitoring/README.md
  aws/rds_enhanced_monitoring/rds-enhanced-sam-template.yaml
  aws/vpc_flow_log_monitoring/README.md
  aws/vpc_flow_log_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/vpc-flow-log-sam-template.yaml
Labels: aws

[AWSC] Fix linting
  aws/rds_enhanced_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/lambda_function.py
Labels: aws

add snapshot test
  aws/logs_monitoring/trace_forwarder/internal/apm/testdata/span_env_tag.json
  aws/logs_monitoring/trace_forwarder/internal/apm/testdata/span_env_tag.json~snapshot
Labels: aws

Handle logs with ResourceId
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

[AWSC] Adding specific exceptions
  aws/logs_monitoring/settings.py
  aws/rds_enhanced_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/lambda_function.py
Labels: aws

[AWSC] Linting
  aws/logs_monitoring/settings.py
  aws/rds_enhanced_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/lambda_function.py
Labels: aws

[AWSC] Bump py version of RDS/VPC Lambdas, align API key decoding (#670)
  aws/logs_monitoring/settings.py
  aws/rds_enhanced_monitoring/README.md
  aws/rds_enhanced_monitoring/lambda_function.py
  aws/rds_enhanced_monitoring/rds-enhanced-sam-template.yaml
  aws/vpc_flow_log_monitoring/README.md
  aws/vpc_flow_log_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/vpc-flow-log-sam-template.yaml
Labels: aws

Add forwarderversion tag
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

[Azure] Handle logs with capitalized resource ID and add forwarder version tag (#671)
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

Update log forwarder in deploy to azure button to 0.60.0 version
  azure/deploy-to-azure/function_template.json
Labels: azure-integrations, azure

Temp change link in deploy to azure button to test
  azure/deploy-to-azure/parent_template.json
Labels: azure-integrations, azure

Revert "Temp change link in deploy to azure button to test"
  azure/deploy-to-azure/parent_template.json
Labels: azure-integrations, azure

Test changing deploy to azure link
  azure/deploy-to-azure/parent_template.json
Labels: azure-integrations, azure

Revert "Test changing deploy to azure link"
  azure/deploy-to-azure/parent_template.json
Labels: azure-integrations, azure

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*
