Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*

feat(aws): AWSX-1598 Move source identification to logs-backend
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

fixup! feat(aws): AWSX-1598 Move source identification to logs-backend
  aws/logs_monitoring/steps/enums.py
Labels: aws

feat(aws): AWSX-1598 Move source identification to logs-backend (#963)
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

[AWS] Switch from using hub CLI to gh for forwarder release
  aws/logs_monitoring/release.sh
Labels: aws

[AWS] Switch from using hub CLI to gh for forwarder release (#969)
  aws/logs_monitoring/release.sh
Labels: aws

ci(release): Update version from 4.11.0 to 4.12.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

ci(release): Update version from 4.11.0 to 4.12.0 (#970)
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

- when publishing assets, append `.zip` to the end of asset name - automatically generate release notes
  aws/logs_monitoring/release.sh
Labels: aws

- when publishing assets, append `.zip` to the end of asset name (#971)
  aws/logs_monitoring/release.sh
Labels: aws

[AWSX-1559] feat: update Python version to 3.13
  .github/workflows/aws_integration_test.yml
  .github/workflows/aws_lint.yml
  .github/workflows/aws_unit_test.yml
  aws/logs_monitoring/setup.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/build_bundle.sh
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/trace_forwarder/scripts/build_linux_go_bin.sh
  aws/logs_monitoring/trace_forwarder/scripts/run_tests.sh
Labels: aws

[AWSX-1559] feat: update version
  aws/logs_monitoring/tools/integration_tests/cache_test_lambda/serverless.yml
  aws/logs_monitoring/tools/publish_layers.sh
  aws/vpc_flow_log_monitoring/vpc-flow-log-sam-template.yaml
Labels: aws

[AWSX-1559] chore: update version
  aws/rds_enhanced_monitoring/rds-enhanced-sam-template.yaml
Labels: aws

[AWSX-1559] feat: use ddtrace v3.0.0
  aws/logs_monitoring/requirements.txt
Labels: aws

[AWSX-1559] feat: bump cfn-lint to 1.19.0
  .github/workflows/aws_lint.yml
Labels: none

[AWSX-1559] chore: update python version in docs
  aws/logs_monitoring/README.md
  aws/vpc_flow_log_monitoring/README.md
Labels: aws

[AWSX-1559] chore: set ddtrace version to 3.0.0 instead of >=
  aws/logs_monitoring/requirements.txt
Labels: aws

[AWSX-1559] refactor: update requirements for ddd-lambda, dd, ddtrace
  aws/logs_monitoring/requirements.txt
Labels: aws

[AWSX-1559] chore: update version in docs for next forwarder version
  aws/logs_monitoring/README.md
Labels: aws

[AWSX-1559] refactor: apply doc suggestion
  aws/logs_monitoring/README.md
Labels: aws

[AWSX-1559] feat: update Python version to 3.13 (#924)
  .github/workflows/aws_integration_test.yml
  .github/workflows/aws_lint.yml
  .github/workflows/aws_unit_test.yml
  aws/logs_monitoring/README.md
  aws/logs_monitoring/requirements.txt
  aws/logs_monitoring/setup.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/build_bundle.sh
  aws/logs_monitoring/tools/integration_tests/cache_test_lambda/serverless.yml
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/tools/publish_layers.sh
  aws/logs_monitoring/trace_forwarder/scripts/build_linux_go_bin.sh
  aws/logs_monitoring/trace_forwarder/scripts/run_tests.sh
  aws/rds_enhanced_monitoring/rds-enhanced-sam-template.yaml
  aws/vpc_flow_log_monitoring/README.md
  aws/vpc_flow_log_monitoring/vpc-flow-log-sam-template.yaml
Labels: aws

fix(lambda-forwarder): Downgrade datadog_lambda requirement version
  aws/logs_monitoring/requirements.txt
Labels: aws

fix(lambda-forwarder): Downgrade datadog_lambda requirement version (#972)
  aws/logs_monitoring/requirements.txt
Labels: aws

update forwarder function to specify more of the event hub connection
  azure/activity_logs_monitoring/.funcignore
  azure/activity_logs_monitoring/index.js
  azure/activity_logs_monitoring/package-lock.json
  azure/activity_logs_monitoring/package.json
Labels: azure-integrations, azure

update forwarder function to specify more of the event hub connection (#973)
  azure/activity_logs_monitoring/.funcignore
  azure/activity_logs_monitoring/index.js
  azure/activity_logs_monitoring/package-lock.json
  azure/activity_logs_monitoring/package.json
Labels: azure-integrations, azure

docs(logs): Disable more tags enrichment when using private link
  aws/logs_monitoring/README.md
Labels: aws

docs(logs): Disable more tags enrichment when using private link (#974)
  aws/logs_monitoring/README.md
Labels: aws

Fix typos
  aws/logs_monitoring/README.md
Labels: aws

Logs forwarder support Python 3.13 AFTER 4.12.0
  aws/logs_monitoring/README.md
Labels: aws

Fix typos (#976)
  aws/logs_monitoring/README.md
Labels: aws

feat(aws): AWSX-1891 Migrate route53 to logs-backend
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/tests/test_enrichment.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json~snapshot
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws

[AWSX] fix(logs-forwarder): fix documentation related to Python3.13
  aws/logs_monitoring/README.md
  static-analysis.datadog.yml
Labels: aws

[AWSX] fix(logs-forwarder): remove static analysis for now
  static-analysis.datadog.yml
Labels: none

ci(release): Update version from 4.12.0 to 4.13.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

ci(release): Update version from 4.12.0 to 4.13.0 (#981)
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Make sure docker is running before starting release
  aws/logs_monitoring/release.sh
Labels: aws

Make sure docker is running before starting release
  aws/logs_monitoring/release.sh
Labels: aws

Make sure docker is running before starting release (#982)
  aws/logs_monitoring/release.sh
Labels: aws

[AWSX] fix(logs-forwarder): parse lambda metrics from valid json objects only
  aws/logs_monitoring/enhanced_lambda_metrics.py
Labels: aws

[AWSX] fix(logs-forwarder): parse lambda metrics from valid json objects only (#983)
  aws/logs_monitoring/enhanced_lambda_metrics.py
Labels: aws

Pin GitHub Actions
  .github/workflows/aws_integration_test.yml
  .github/workflows/aws_lint.yml
  .github/workflows/aws_unit_test.yml
  .github/workflows/azure_tests.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr.yaml
  .github/workflows/trace_forwarder.yml
Labels: none
