Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*

feat(aws): AWSX-1891 Migrate route53 to logs-backend
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/tests/test_enrichment.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json~snapshot
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws

remove outdated oci function code
  README.md
  oci/README.md
  oci/datadog-oci-orm/metrics-setup/data.tf
  oci/datadog-oci-orm/metrics-setup/function_setup.tf
  oci/datadog-oci-orm/metrics-setup/functions.tf
  oci/datadog-oci-orm/metrics-setup/locals.tf
  oci/datadog-oci-orm/metrics-setup/metrics-function/Dockerfile
  oci/datadog-oci-orm/metrics-setup/metrics-function/func.py
  oci/datadog-oci-orm/metrics-setup/metrics-function/func.yaml
  oci/datadog-oci-orm/metrics-setup/metrics-function/requirements.txt
  oci/datadog-oci-orm/metrics-setup/outputs.tf
  oci/datadog-oci-orm/metrics-setup/provider.tf
  oci/datadog-oci-orm/metrics-setup/schema.yaml
  oci/datadog-oci-orm/metrics-setup/serviceconnector.tf
  oci/datadog-oci-orm/metrics-setup/variables.tf
  oci/datadog-oci-orm/metrics-setup/vcn.tf
  oci/datadog-oci-orm/policy-setup/policy.tf
  oci/datadog-oci-orm/policy-setup/variables.tf
  oci/dd-metrics-function.py
Labels: none

remove outdated oci function code (#986)
  README.md
  oci/README.md
  oci/datadog-oci-orm/metrics-setup/data.tf
  oci/datadog-oci-orm/metrics-setup/function_setup.tf
  oci/datadog-oci-orm/metrics-setup/functions.tf
  oci/datadog-oci-orm/metrics-setup/locals.tf
  oci/datadog-oci-orm/metrics-setup/metrics-function/Dockerfile
  oci/datadog-oci-orm/metrics-setup/metrics-function/func.py
  oci/datadog-oci-orm/metrics-setup/metrics-function/func.yaml
  oci/datadog-oci-orm/metrics-setup/metrics-function/requirements.txt
  oci/datadog-oci-orm/metrics-setup/outputs.tf
  oci/datadog-oci-orm/metrics-setup/provider.tf
  oci/datadog-oci-orm/metrics-setup/schema.yaml
  oci/datadog-oci-orm/metrics-setup/serviceconnector.tf
  oci/datadog-oci-orm/metrics-setup/variables.tf
  oci/datadog-oci-orm/metrics-setup/vcn.tf
  oci/datadog-oci-orm/policy-setup/policy.tf
  oci/datadog-oci-orm/policy-setup/variables.tf
  oci/dd-metrics-function.py
Labels: none

feat(aws): AWSX-1891 Migrate route53 to logs-backend (#978)
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/tests/test_enrichment.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json~snapshot
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws

ci(release): Update version from 4.13.0 to 4.14.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

ci(release): Update version from 4.13.0 to 4.14.0 (#987)
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Use variable instead of hardcoded value for eventHubName
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

Update index.js
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

Update index.js
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

update version, update azure sdk, update deploy.zip
  azure/activity_logs_monitoring/deploy.zip
  azure/activity_logs_monitoring/package-lock.json
  azure/activity_logs_monitoring/package.json
Labels: azure-integrations, azure

revert zip file
  azure/activity_logs_monitoring/deploy.zip
Labels: azure-integrations, azure

[AWSCORE-345] Add layer version to release title
  aws/logs_monitoring/release.sh
Labels: aws

[AWSCORE-345] Add layer version to release title (#989)
  aws/logs_monitoring/release.sh
Labels: aws

fix(docs): retry using aws cli
  aws/logs_monitoring/README.md
Labels: aws

[AWSX] fix(logs forwarding): grant tag:GetResources permission when fetching s3 tags
  aws/logs_monitoring/template.yaml
Labels: aws

[AWSX] fix(logs forwarding): grant tag:GetResources permission when fetching s3 tags (#991)
  aws/logs_monitoring/template.yaml
Labels: aws

Feat/ AWS Log monitoring: set source using template parameter
  aws/logs_monitoring/template.yaml
Labels: aws

[SVLS-7601] update ASP filters -> app services filters
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure-integrations, azure

[SVLS-7601] update wording
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure-integrations, azure

refactor(aws)!: AWSX-1703 Change matching of regex. Previously done against JSON, now only on log
  aws/logs_monitoring/forwarder.py
  aws/logs_monitoring/logs/datadog_matcher.py
  aws/logs_monitoring/logs/helpers.py
  aws/logs_monitoring/tests/test_logs.py
Labels: aws

fixup! refactor(aws)!: AWSX-1703 Change matching of regex. Previously done against JSON, now only on log
  aws/logs_monitoring/forwarder.py
  aws/logs_monitoring/logs/datadog_matcher.py
  aws/logs_monitoring/tests/test_logs.py
Labels: aws

feat(aws)!: AWSX-1991 Pass header to enable storage tagging and drop TCP support
  aws/logs_monitoring/README.md
  aws/logs_monitoring/caching/cloudwatch_log_group_cache.py
  aws/logs_monitoring/caching/lambda_cache.py
  aws/logs_monitoring/caching/s3_tags_cache.py
  aws/logs_monitoring/caching/step_functions_cache.py
  aws/logs_monitoring/forwarder.py
  aws/logs_monitoring/logs/datadog_http_client.py
  aws/logs_monitoring/logs/datadog_tcp_client.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/integration_tests/docker-compose.yml
Labels: aws

Update requirements.txt
  aws/logs_monitoring/requirements.txt
Labels: aws

Bump urllib version
  aws/logs_monitoring/requirements.txt
Labels: aws

refactor(aws)!: AWSX-1703 Change matching of regex. Previously done against JSON, now only log message (#996)
  aws/logs_monitoring/forwarder.py
  aws/logs_monitoring/logs/datadog_matcher.py
  aws/logs_monitoring/logs/helpers.py
  aws/logs_monitoring/tests/test_logs.py
Labels: aws

feat(aws): AWSX-1987 Migrate remaining soure identification to logs-backend
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/tests/test_enrichment.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

feat(aws): AWSX-1987 Migrate remaining soure identification to logs-backend (#998)
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/tests/test_enrichment.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

feat(aws)!: Drop deprecated TCP support
  aws/logs_monitoring/README.md
  aws/logs_monitoring/forwarder.py
  aws/logs_monitoring/logs/datadog_tcp_client.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/integration_tests/docker-compose.yml
Labels: aws

ci(release): Update version from 4.14.0 to 4.15.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

ci(release): Update version from 4.14.0 to 4.15.0 (#1001)
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

refactor(aws)!: AWSX-1703 Change matching of regex. Previously done against JSON, now only log message (#996)
  aws/logs_monitoring/forwarder.py
  aws/logs_monitoring/logs/datadog_matcher.py
  aws/logs_monitoring/logs/helpers.py
  aws/logs_monitoring/tests/test_logs.py
Labels: aws

feat(aws)!: Drop deprecated TCP support (#1000)
  aws/logs_monitoring/README.md
  aws/logs_monitoring/forwarder.py
  aws/logs_monitoring/logs/datadog_tcp_client.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/integration_tests/docker-compose.yml
Labels: aws

feat(aws)!: Remove deprecated PrivateLink env variable
  aws/logs_monitoring/README.md
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

feat(docs): update Terraform docs for deploying the AWS forwarder to use new module
  aws/logs_monitoring/README.md
Labels: aws

feat(aws)!: Remove deprecated PrivateLink env variable (#1002)
  aws/logs_monitoring/README.md
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

feat(aws): Move tags enablement environment variable to settings
  aws/logs_monitoring/caching/cloudwatch_log_group_cache.py
  aws/logs_monitoring/caching/lambda_cache.py
  aws/logs_monitoring/caching/s3_tags_cache.py
  aws/logs_monitoring/caching/step_functions_cache.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/tests/test_enhanced_lambda_metrics.py
  aws/logs_monitoring/tests/test_enrichment.py
Labels: aws

feat(docs): update Terraform docs for deploying the AWS forwarder to use new module (#1003)
  aws/logs_monitoring/README.md
Labels: aws

Add docs as codeowners
  .github/CODEOWNERS
Labels: none

feat(aws): Move tags enablement environment variable to settings (#1004)
  aws/logs_monitoring/caching/cloudwatch_log_group_cache.py
  aws/logs_monitoring/caching/lambda_cache.py
  aws/logs_monitoring/caching/s3_tags_cache.py
  aws/logs_monitoring/caching/step_functions_cache.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/tests/test_enhanced_lambda_metrics.py
  aws/logs_monitoring/tests/test_enrichment.py
Labels: aws

refactor(aws)!: AWSX-1703 Change matching of regex. Previously done against JSON, now only log message (#996)
  aws/logs_monitoring/forwarder.py
  aws/logs_monitoring/logs/datadog_matcher.py
  aws/logs_monitoring/logs/helpers.py
  aws/logs_monitoring/tests/test_logs.py
Labels: aws
