Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*

clarify info
  aws/logs_monitoring/README.md
Labels: aws

Fix Lambda Logger documentation around VPC usage
  aws/logs_monitoring/README.md
Labels: aws

clarify info (#625)
  aws/logs_monitoring/README.md
Labels: aws

Bumping the lambda version to resolve a vulnerable package, futures version 0.18.2, found in CVE-2022-40899
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

[AWSC-101] Patch Forwarder for CVEs
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

[AWSC-101] Patch Forwarder for CVEs (#629)
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

[AWSC] Fix security vulnerability for SSL/TLS version
  aws/logs_monitoring/logs.py
Labels: aws

[AWSC] Fix linting and add minimum version
  aws/logs_monitoring/logs.py
Labels: aws

Bump version from 3.67.0 to 3.68.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.68.0 to 3.69.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

[serverless] recommend extension over forwarder
  aws/logs_monitoring/README.md
Labels: aws

Update README.md
  aws/logs_monitoring/README.md
Labels: aws

Fix gov login
  aws/logs_monitoring/tools/publish_prod.sh
Labels: aws

Bump version from 3.69.0 to 3.70.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.70.0 to 3.71.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Update aws/logs_monitoring/README.md
  aws/logs_monitoring/README.md
Labels: aws

Update aws/logs_monitoring/README.md
  aws/logs_monitoring/README.md
Labels: aws

Update aws/logs_monitoring/README.md
  aws/logs_monitoring/README.md
Labels: aws

[serverless] recommend extension over forwarder (#631)
  aws/logs_monitoring/README.md
Labels: aws

Datadog Azure Integration using ARM Templates for native-integration like experience
  azure/deploy-to-azure/azure-integration/CreateUiDefinition.json
  azure/deploy-to-azure/azure-integration/Readme.md
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

Fix readme button link to master branch
  azure/deploy-to-azure/azure-integration/Readme.md
Labels: azure-integrations, azure

Elaborate this button is for the log forwarder
  azure/deploy-to-azure/README.md
Labels: azure-integrations, azure

management group ARM
  azure/deploy-to-azure/azure-integration/mgarmtemplate.json
  azure/deploy-to-azure/azure-integration/mgcustomui.json
Labels: azure-integrations, azure

management group ARM
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

management group ARM (#633)
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
Labels: azure-integrations, azure

Only run lint github action on AWS folder PRs
  .github/workflows/lint.yml
Labels: none

Changes
  azure/package.json
Labels: azure-integrations, azure

First commit adding support for verified access logs - source parsing
  aws/logs_monitoring/parsing.py
Labels: aws

[AWSC] Fix linting
  aws/logs_monitoring/parsing.py
Labels: aws

[AWSC] Fix black linting
  aws/logs_monitoring/tests/test_enhanced_lambda_metrics.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/span_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_payload_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_pb2.py
  aws/rds_enhanced_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/lambda_function.py
Labels: aws

[AWSC] Fix security vulnerability for SSL/TLS version (#630)
  aws/logs_monitoring/logs.py
Labels: aws

[AWSC] Add source parsing for VA (#637)
  aws/logs_monitoring/parsing.py
  aws/logs_monitoring/tests/test_enhanced_lambda_metrics.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/span_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_payload_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_pb2.py
  aws/rds_enhanced_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/lambda_function.py
Labels: aws

related to JIRA CLOUDS-3364 added to check idsplit[3] in the S3 key to check if the aws account id is in idsplit[3]
  aws/logs_monitoring/parsing.py
Labels: aws

Update Readme.md to include management level access control button.
  azure/deploy-to-azure/azure-integration/Readme.md
Labels: azure-integrations, azure

adding a unit test that matches this usecase
  aws/logs_monitoring/parsing.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

adding a unit test to test s3 key multi prefix
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

unit test
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

[AWSC] Fix source for VA
  aws/logs_monitoring/parsing.py
Labels: aws

[AWSC] Add additional host parsing for VA
  aws/logs_monitoring/parsing.py
Labels: aws

[AWSC] Fix linting
  aws/logs_monitoring/parsing.py
Labels: aws
