Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*

[CLOUDS-4587] rename context so no overlap
  azure/test/blobs_logs_monitoring.test.js
Labels: azure-integrations, azure

[CLOUDS-4587] use defined context
  azure/blobs_logs_monitoring/index.js
Labels: azure-integrations, azure

[CLOUDS-4587] add unit test for activity logs monitoring as well
  azure/activity_logs_monitoring/index.js
  azure/test/activity_logs_monitoring.test.js
Labels: azure-integrations, azure

[CLOUDS-4587] version bump
  azure/blobs_logs_monitoring/index.js
Labels: azure-integrations, azure

[CLOUDS-4587] mock correct method
  azure/test/activity_logs_monitoring.test.js
Labels: azure-integrations, azure

Fix Azure Blob Forwarder Error Logging (#770)
  azure/activity_logs_monitoring/index.js
  azure/blobs_logs_monitoring/index.js
  azure/test/activity_logs_monitoring.test.js
  azure/test/blobs_logs_monitoring.test.js
Labels: azure-integrations, azure

return the value of the function execution rather than the function itself
  aws/logs_monitoring/caching/step_functions_cache.py
Labels: aws

return the value of the function execution rather than the function itself (#774)
  aws/logs_monitoring/caching/step_functions_cache.py
Labels: aws

add s3 multipart upload lifecycle rule resolves #762
  aws/logs_monitoring/template.yaml
Labels: aws

Add optional S3 AccessLogsTarget
  aws/logs_monitoring/template.yaml
Labels: aws

add s3 multipart upload lifecycle rule resolves #762
  aws/logs_monitoring/template.yaml
Labels: aws

Add s3 multipart upload lifecycle rule resolves #762
  aws/logs_monitoring/template.yaml
Labels: aws

Add s3 multipart upload lifecycle rule resolves #762
  aws/logs_monitoring/template.yaml
Labels: aws

add optional access logs target bucket Resolves #764
  aws/logs_monitoring/template.yaml
Labels: aws

Add s3 multipart upload lifecycle rule resolves #762 (#778)
  aws/logs_monitoring/template.yaml
Labels: aws

Move forwarder dependencies to a requirements file and remove package lock
  aws/logs_monitoring/.dockerignore
  aws/logs_monitoring/requirements.txt
  aws/logs_monitoring/setup.py
  aws/logs_monitoring/tools/Dockerfile_bundle
  aws/logs_monitoring/tools/integration_tests/recorder/pb/span_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_payload_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_pb2.py
Labels: aws

Move forwarder dependencies to a requirements file and remove package lock (#780)
  aws/logs_monitoring/.dockerignore
  aws/logs_monitoring/requirements.txt
  aws/logs_monitoring/setup.py
  aws/logs_monitoring/tools/Dockerfile_bundle
  aws/logs_monitoring/tools/integration_tests/recorder/pb/span_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_payload_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_pb2.py
Labels: aws

Bump 3rd party dependency idna version to 3.7
  aws/logs_monitoring/requirements.txt
Labels: aws

Bump 3rd party dependency idna version to 3.7 (#781)
  aws/logs_monitoring/requirements.txt
Labels: aws

Update lambda_function.py
  aws/vpc_flow_log_monitoring/lambda_function.py
Labels: aws

Use API endpoint for series submission
  aws/rds_enhanced_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/lambda_function.py
Labels: aws

[ECI-83] [ECI-102] Add OCI functions to serverless repo
  README.md
  oci/README.md
  oci/dd-metrics-function.py
Labels: none

Use API endpoint for series submission (#782)
  aws/rds_enhanced_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/lambda_function.py
Labels: aws

Bump version from 3.108.0 to 3.109.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.109.0 to 3.110.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

[ECI-83] [ECI-102] Add OCI functions to serverless repo (#771)
  README.md
  oci/README.md
  oci/dd-metrics-function.py
Labels: none

set a new condition SetForwarderBucket so that some resources could be created based on this condition
  aws/logs_monitoring/template.yaml
Labels: aws

[azure][azints-2316] Enable Resource collection by default for new customers (ARM templates) (#767)
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure-integrations, azure

set a new condition SetForwarderBucket so that some resources could be created based on this condition (#785)
  aws/logs_monitoring/template.yaml
Labels: aws

Rework Cloudwatch log group tags cache logic
  aws/logs_monitoring/caching/cloudwatch_log_group_cache.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tests/run_unit_tests.sh
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_cloudtrail_s3.py
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_cloudtrail.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_coldstart.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_fsx_windows.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/step_functions_log.json~snapshot
Labels: aws

Bump version from 3.110.0 to 3.111.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Rework Cloudwatch log group tags cache logic (#786)
  aws/logs_monitoring/caching/cloudwatch_log_group_cache.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tests/run_unit_tests.sh
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_cloudtrail_s3.py
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_cloudtrail.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_coldstart.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_fsx_windows.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/step_functions_log.json~snapshot
Labels: aws

[Logs forwarder] create a s3 handler class with a shared data store
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

Bump version from 3.111.0 to 3.112.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

[Logs forwarder] create a s3 handler class with a shared data store (#787)
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

Revert "[azure] Add max sockets configuration (#760)"
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

Bump version and copyright
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

Update forwarder in function template
  azure/deploy-to-azure/function_template.json
Labels: azure-integrations, azure

Revert max socket configuration in Azure Eventhub forwarder (#789)
  azure/activity_logs_monitoring/index.js
  azure/deploy-to-azure/function_template.json
Labels: azure-integrations, azure

Remove unrequired `s3:ListBucket` permission from `aws/logs_monitoring/template.yaml`
  aws/logs_monitoring/template.yaml
Labels: aws
