Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*

[AWSX] fix(vpc_flow_log_monitoring) Account for json encoding overhead while batching metrics series (#926)
  .github/workflows/aws_lint.yml
  aws/vpc_flow_log_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/tests/test_lambda_funciton.py
Labels: aws

feat(aws): AWSX-1591 Remove appsync and apigateway
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json~snapshot
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws

[AZINTS-3246] deprecate old blob forwarder
  azure/blobs_logs_monitoring/README.md
Labels: azure-integrations, azure

[AZINTS-3246] pr feedback
  azure/blobs_logs_monitoring/README.md
Labels: azure-integrations, azure

[AZINTS-3246] revert
  azure/blobs_logs_monitoring/README.md
Labels: azure-integrations, azure

feat(aws): AWSX-1591 Remove appsync and apigateway
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json~snapshot
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws

feat(aws): AWSX-1591 Remove appsync and apigateway (#928)
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json~snapshot
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws

ci(release): Update version from 4.4.0 to 4.5.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Incident Response (no action needed from repository owner): Trigger SDS scan
  force-scan
Labels: none

Incident Response (no action needed from repository owner): Trigger SDS scan
  force-scan
Labels: none

[AWSX] Update the documentation on setting the service tag in the forwarder
  aws/logs_monitoring/README.md
Labels: aws

[AWSX] Update the documentation on setting the service tag in the forwarder (#933)
  aws/logs_monitoring/README.md
Labels: aws

[AZINTS] migrate event hub forwarder to model v4
  azure/activity_logs_monitoring/index.js
  azure/blobs_logs_monitoring/function.json
  azure/deploy-to-azure/function_template.json
Labels: azure-integrations, azure

[AZINTS] add package.json and host.json
  azure/activity_logs_monitoring/function.json
  azure/activity_logs_monitoring/host.json
  azure/activity_logs_monitoring/index.js
  azure/activity_logs_monitoring/package-lock.json
  azure/activity_logs_monitoring/package.json
  azure/deploy-to-azure/function_template.json
Labels: azure-integrations, azure

[AZINTS] update
  azure/activity_logs_monitoring/index.js
  azure/deploy-to-azure/function_template.json
Labels: azure-integrations, azure

[AZINTS] add deploy.zip
  azure/activity_logs_monitoring/deploy.zip
Labels: azure-integrations, azure

[AZINTS] zipdeploy
  azure/deploy-to-azure/function_template.json
  azure/deploy-to-azure/parent_template.json
Labels: azure-integrations, azure

[AZINTS] fix remote build
  .gitignore
  azure/activity_logs_monitoring/.funcignore
  azure/deploy-to-azure/function_template.json
Labels: azure-integrations, azure

[AZINTS] cleanup
  .gitignore
  azure/activity_logs_monitoring/.funcignore
  azure/blobs_logs_monitoring/function.json
Labels: azure-integrations, azure

[AZINTS] fix tests
  azure/package-lock.json
  azure/package.json
  azure/test/activity_logs_monitoring.test.js
Labels: azure-integrations, azure

[AZINTS] no more var
  azure/test/activity_logs_monitoring.test.js
Labels: azure-integrations, azure

[AZINTS] consolidate
  azure/deploy-to-azure/README.md
  azure/deploy-to-azure/activity_log_diagnostic_settings.json
  azure/deploy-to-azure/event_hub.json
  azure/deploy-to-azure/function_template.json
  azure/deploy-to-azure/parent_template.json
  azure/eventhub_log_forwarder/README.md
  azure/eventhub_log_forwarder/activity_logs_deploy.ps1
  azure/eventhub_log_forwarder/event_hub.json
  azure/eventhub_log_forwarder/function_template.json
  azure/eventhub_log_forwarder/parent_template.json
  azure/eventhub_log_forwarder/resource_deploy.ps1
Labels: azure-integrations, azure

[AZINTS] add default value
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure-integrations, azure

[AZINTS] include package-lock.json in deploy
  azure/activity_logs_monitoring/.funcignore
  azure/activity_logs_monitoring/deploy.zip
Labels: azure-integrations, azure

[AZINTS] location and package
  azure/eventhub_log_forwarder/event_hub.json
  azure/eventhub_log_forwarder/function_template.json
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure-integrations, azure

[AZINTS] add default value
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure-integrations, azure

[AZINTS] migrate event hub forwarder to model v4 (#934)
  .gitignore
  azure/activity_logs_monitoring/.funcignore
  azure/activity_logs_monitoring/deploy.zip
  azure/activity_logs_monitoring/function.json
  azure/activity_logs_monitoring/host.json
  azure/activity_logs_monitoring/index.js
  azure/activity_logs_monitoring/package-lock.json
  azure/activity_logs_monitoring/package.json
  azure/deploy-to-azure/README.md
  azure/deploy-to-azure/activity_log_diagnostic_settings.json
  azure/deploy-to-azure/event_hub.json
  azure/deploy-to-azure/function_template.json
  azure/deploy-to-azure/parent_template.json
  azure/eventhub_log_forwarder/README.md
  azure/eventhub_log_forwarder/activity_logs_deploy.ps1
  azure/eventhub_log_forwarder/event_hub.json
  azure/eventhub_log_forwarder/function_template.json
  azure/eventhub_log_forwarder/parent_template.json
  azure/eventhub_log_forwarder/resource_deploy.ps1
  azure/package-lock.json
  azure/package.json
  azure/test/activity_logs_monitoring.test.js
Labels: azure-integrations, azure

[AZINTS] fix parent template at the subscription level
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure-integrations, azure

[AZINTS] fix parent template at the subscription level (#936)
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure-integrations, azure

[AZINTS] fix v4 upgrade
  azure/eventhub_log_forwarder/function_template.json
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure-integrations, azure

[AZINTS] remove the run from package setting
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

[AZINTS] revert
  azure/eventhub_log_forwarder/function_template.json
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure-integrations, azure

[AZINTS] try this
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

[AZINTS] try this 2
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

[AZINTS] try to fix
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

[AZINTS] fix
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

[AZINTS] fix 2
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

[AZINTS] fix fr
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

[AZINTS] give it an identity
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

[AZINTS] fix error
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure
