Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

change to my branch name
  azure/deploy-to-azure/parent_template.json
Labels: azure-integrations, azure

Use raw.githubusercontent
  azure/deploy-to-azure/parent_template.json
Labels: azure-integrations, azure

try changing node version to 18
  azure/deploy-to-azure/function_template.json
Labels: azure-integrations, azure

back to 20
  azure/deploy-to-azure/function_template.json
Labels: azure-integrations, azure

fix link
  azure/deploy-to-azure/parent_template.json
Labels: azure-integrations, azure

Clean up
  azure/deploy-to-azure/parent_template.json
Labels: azure-integrations, azure

Upgrade Azure eventhub forwarder to NodeJS 20 (#890)
  .github/workflows/azure_tests.yml
  azure/deploy-to-azure/function_template.json
  azure/deploy-to-azure/parent_template.json
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

[AWSX][Logs forwarder] Fix a bug in setting service tag for Kinesis event type logs
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_customized_log_group.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_lambda_function.py
Labels: aws

Revert "[AWSX][Logs forwarder] Fix a bug in setting service tag for Kinesis event type logs"
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_customized_log_group.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_lambda_function.py
Labels: aws

fix(enrichment): look for service as key, not as value in extracted ddtags (#876)
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/tests/test_enrichment.py
Labels: aws

Add ability to specify IAM Role path. (#875)
  aws/logs_monitoring/template.yaml
Labels: aws

[AWSX][Logs forwarder] Fix a bug in setting service tag for Kinesis event type logs
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_customized_log_group.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_lambda_function.py
Labels: aws

address syntax warnings
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_lambda_function.py
Labels: aws

add tests
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_datadog_forwarder.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_bad_arn.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_env.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_w_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_wo_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_service_and_ddtags.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_wo_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_non_lambda_event.approved.json
  aws/logs_monitoring/tests/test_enrichment.py
Labels: aws

update itests
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_timeout.json~snapshot
Labels: aws

fix a bug when removing none env from lambda tags
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_lambda_log.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_service_and_ddtags.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_s3_handler.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_timeout.json~snapshot
Labels: aws

fix kinesis handler + add tests
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_kinesis_awslogs_handler.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_kinesis_awslogs_handler.received.json
  aws/logs_monitoring/tests/events/cloudwatch_logs_2.json
  aws/logs_monitoring/tests/test_lambda_function.py
Labels: aws

Revert "Upgrade Azure eventhub forwarder to NodeJS 20 (#890)"
  .github/workflows/azure_tests.yml
  azure/deploy-to-azure/function_template.json
  azure/deploy-to-azure/parent_template.json
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

Revert "Upgrade Azure eventhub forwarder to NodeJS 20 (#890)" (#892)
  .github/workflows/azure_tests.yml
  azure/deploy-to-azure/function_template.json
  azure/deploy-to-azure/parent_template.json
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

Fix typo of `lAMBDA` -> `LAMBDA` within `AwsS3EventSourceKeyword()` class
  aws/logs_monitoring/steps/enums.py
Labels: aws

[AWSX][Logs forwarder] Fix a bug handling lambda logs from Kinesis event types (#891)
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_lambda_log.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_customized_log_group.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_datadog_forwarder.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_kinesis_awslogs_handler.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_kinesis_awslogs_handler.received.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_bad_arn.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_env.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_w_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_wo_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_service_and_ddtags.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_wo_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_non_lambda_event.approved.json
  aws/logs_monitoring/tests/events/cloudwatch_logs_2.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_enrichment.py
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

ci(release): Update version from 4.0.1 to 4.0.2
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

[AZINTS] fix log forwarder duplication
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

[AZINTS] rename var and fix test
  azure/activity_logs_monitoring/index.js
  azure/test/activity_logs_monitoring.test.js
Labels: azure-integrations, azure

Fix approval tests
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_lambda_log.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_customized_log_group.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_kinesis_awslogs_handler.received.json
Labels: aws

black
  aws/logs_monitoring/tests/test_logs.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

[AZINTS] update inlined file
  azure/deploy-to-azure/function_template.json
Labels: azure-integrations, azure

black?
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_caching.py
  aws/logs_monitoring/tests/test_cloudtrail_s3.py
  aws/logs_monitoring/tests/test_enhanced_lambda_metrics.py
  aws/logs_monitoring/tests/test_enrichment.py
  aws/logs_monitoring/tests/test_logs.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tests/test_s3_handler.py
  aws/logs_monitoring/tests/test_transformation.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_payload_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/recorder.py
Labels: aws

[AZURE] Fix event hub log forwarder duplication (#894)
  azure/activity_logs_monitoring/index.js
  azure/deploy-to-azure/function_template.json
  azure/test/activity_logs_monitoring.test.js
Labels: azure-integrations, azure

[AZINTS] bump to node 20
  .github/workflows/azure_tests.yml
  azure/deploy-to-azure/function_template.json
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

[AZURE] bump event hub forwarder to node 20 (#896)
  .github/workflows/azure_tests.yml
  azure/deploy-to-azure/function_template.json
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

[AZINTS] format and add docstrings
  azure/deploy-to-azure/function_template.json
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

[AZINTS] add docstrings
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

[AZINTS] inline js
  azure/deploy-to-azure/function_template.json
Labels: azure-integrations, azure

[AZINTS] format and add docstrings (#897)
  azure/activity_logs_monitoring/index.js
  azure/deploy-to-azure/function_template.json
  azure/eventhub_log_forwarder/function_template.json
Labels: azure-integrations, azure

Fix approval tests and linter (#895)
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_lambda_log.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_customized_log_group.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_kinesis_awslogs_handler.received.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_caching.py
  aws/logs_monitoring/tests/test_cloudtrail_s3.py
  aws/logs_monitoring/tests/test_enhanced_lambda_metrics.py
  aws/logs_monitoring/tests/test_enrichment.py
  aws/logs_monitoring/tests/test_logs.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tests/test_s3_handler.py
  aws/logs_monitoring/tests/test_transformation.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_payload_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/pb/trace_pb2.py
  aws/logs_monitoring/tools/integration_tests/recorder/recorder.py
Labels: aws

[AWS Logs Forwarder] Support Arm64
  .github/workflows/integration_test.yml
  .github/workflows/trace_forwarder.yml
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/Dockerfile_bundle
  aws/logs_monitoring/tools/build_bundle.sh
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/trace_forwarder/Dockerfile
  aws/logs_monitoring/trace_forwarder/scripts/build_linux_go_bin.sh
  aws/logs_monitoring/trace_forwarder/scripts/run_tests.sh
Labels: aws

update runners
  .github/workflows/integration_test.yml
  .github/workflows/trace_forwarder.yml
Labels: none

[AWS Logs Forwarder] Support arm64 runtime (#898)
  .github/workflows/integration_test.yml
  .github/workflows/trace_forwarder.yml
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/Dockerfile_bundle
  aws/logs_monitoring/tools/build_bundle.sh
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/trace_forwarder/Dockerfile
  aws/logs_monitoring/trace_forwarder/scripts/build_linux_go_bin.sh
  aws/logs_monitoring/trace_forwarder/scripts/run_tests.sh
Labels: aws

Update index.js
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*
