Repository DataDog/datadog-serverless-functions, changes with the labels that .github/labeler.yml gives for each.
All labels: azure-integrations, azure, aws

.github/labeler.yml:

# this module configures the GitHub labeler to apply the e.g. `azure-integrations` label to azure changes automatically.


azure-integrations:
- azure/**/*

azure:
- azure/**/*

aws:
- aws/**/*

Bump version from 3.76.0 to 3.77.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Change service to microsoft-defender-for-cloud
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations, azure

Update index.js
  azure/deploy-to-azure/function_template.json
Labels: azure-integrations, azure

[Azure] Fix capitalization of Defender for Cloud SecurityAlert logs in log forwarder (#683)
  azure/activity_logs_monitoring/index.js
  azure/deploy-to-azure/function_template.json
Labels: azure-integrations, azure

Revert Enhanced metrics changes
  aws/logs_monitoring/README.md
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/integration_tests/docker-compose.yml
Labels: aws

Revert Enhanced metrics changes (#687)
  aws/logs_monitoring/README.md
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/integration_tests/docker-compose.yml
Labels: aws

Bump version from 3.77.0 to 3.78.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.78.0 to 3.79.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.79.0 to 3.80.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.80.0 to 3.81.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.81.0 to 3.82.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.82.0 to 3.83.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Retry when receiving 5xx errors
  aws/rds_enhanced_monitoring/lambda_function.py
  aws/rds_enhanced_monitoring/tests/test_rds_metrics.py
Labels: aws

Retry when receiving 5xx errors (#690)
  aws/rds_enhanced_monitoring/lambda_function.py
  aws/rds_enhanced_monitoring/tests/test_rds_metrics.py
Labels: aws

Update to labeler@v4
  .github/workflows/pr.yaml
Labels: none

Update to labeler@v4 (#691)
  .github/workflows/pr.yaml
Labels: none

fix: Allow setting the service from the log group tags
  aws/logs_monitoring/parsing.py
Labels: aws

fix: Allow setting the service from the log group tags (#686)
  aws/logs_monitoring/parsing.py
Labels: aws

feat: set DD_SOURCE, DD_SERVICE, and DD_HOST for AWS Batch logs
  aws/logs_monitoring/parsing.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

Update aws-vault roles
  aws/logs_monitoring/release.sh
  aws/logs_monitoring/tools/installation_test.sh
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/tools/publish_prod.sh
  aws/logs_monitoring/tools/publish_sandbox.sh
Labels: aws

Update aws-vault roles (#694)
  aws/logs_monitoring/release.sh
  aws/logs_monitoring/tools/installation_test.sh
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
  aws/logs_monitoring/tools/publish_prod.sh
  aws/logs_monitoring/tools/publish_sandbox.sh
Labels: aws

Bump version from 3.83.0 to 3.84.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.84.0 to 3.85.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.85.0 to 3.86.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.86.0 to 3.87.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.87.0 to 3.88.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

[AWS] Doc update for CF updates
  aws/logs_monitoring/README.md
Labels: aws

[AWS] Move doc updates to Troubleshooting section
  aws/logs_monitoring/README.md
Labels: aws

[AWS] Doc update for CF updates (#696)
  aws/logs_monitoring/README.md
Labels: aws

Bump version from 3.88.0 to 3.89.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.89.0 to 3.90.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

Bump version from 3.90.0 to 3.91.0
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
Labels: aws

[AWSC] Add metrics to RDS enhanced monitoring
  aws/rds_enhanced_monitoring/lambda_function.py
Labels: aws

[AWSC] remove print statement
  aws/rds_enhanced_monitoring/lambda_function.py
Labels: aws

[AWSC] Add metrics to RDS enhanced monitoring (#697)
  aws/rds_enhanced_monitoring/lambda_function.py
Labels: aws

[AZI-1884] Add Container App filters
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUiDefinition.json
Labels: azure-integrations, azure

[AZI-1884] update azure deploy jsons, also fix app service plan wording
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

[AZI-1884] added azure deploy script subscription level
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

[AZI-1884] fixed script name
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure

[AZI-1884] rename app service plan filter script
  azure/deploy-to-azure/azure-integration/Readme.md
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure-integrations, azure
