Repository DataDog/datadog-serverless-functions, pull requests merged in 2021-07, with the labels that each got.

#466 Fix line breaks in README.md for `Advanced (optional)` log forwarder CloudFormation parameters
  aws/README.md
  aws/logs_monitoring/README.md
  azure/README.md
Labels: Documentation, Logs Forwarder, azure

#474 [aws-ints] Migrate VPC flow logs lambda to python3
  aws/vpc_flow_log_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/vpc-flow-log-sam-template.yaml
Labels: vpc

#455 Add VPC DNS Query logging from S3
  aws/logs_monitoring/parsing.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: Logs Forwarder, SLS Jira
