Repository DataDog/datadog-serverless-functions, pull requests merged in 2021-08, with the labels that each got.

#443 Document a wildcard resource-based policy for the manually-created forwarder
  aws/logs_monitoring/README.md
Labels: Logs Forwarder

#485 Support events intake API v2 in the Forwarder
  aws/logs_monitoring/logs.py
  aws/logs_monitoring/tools/integration_tests/recorder/recorder.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_cloudtrail.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_coldstart.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_custom_tags.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_fsx_windows.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_timeout.json~snapshot
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: WIP

#477 [azure] Update Azure log forwarder to use v2 events platform API
  azure/activity_logs_monitoring/index.js
Labels: azure, azure-integrations

#492 [azure] Fix log splitting when field value is null
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations

#459 Parse arrays of objects in AWS WAF logs
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/parsing.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: enhancement, Logs Forwarder

#480 AZI-27 Update log forwarder automation to randomize EventHub namespace
  azure/README.md
  azure/eventhub_log_forwarder/README.md
  azure/eventhub_log_forwarder/activity_log_diagnostic_settings.json
  azure/eventhub_log_forwarder/activity_logs_deploy.ps1
  azure/eventhub_log_forwarder/event_hub.json
  azure/eventhub_log_forwarder/function_template.json
  azure/eventhub_log_forwarder/parent_template.json
  azure/eventhub_log_forwarder/resource_deploy.ps1
Labels: azure-integrations
