Repository DataDog/datadog-serverless-functions, pull requests merged in 2023-11, with the labels that each got.

#707 To support new delimiters for stepFunction execution_arn
  aws/logs_monitoring/parsing.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

#708 [AWSMC-588] Support Bedrock log source
  aws/logs_monitoring/parsing.py
Labels: aws

#709 To support Lambda customized log group
  aws/logs_monitoring/customized_log_group.py
  aws/logs_monitoring/parsing.py
  aws/logs_monitoring/tests/test_customized_log_group.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/tester/test_snapshots.py
Labels: aws, serverless

#711 [AZURE] Update ARM templates to include resource collection
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure, azure-integrations
