Repository DataDog/datadog-serverless-functions, pull requests merged in 2023-04, with the labels that each got.

#641 [DOCS-4934] Add a trigger step for terraform instructions
  aws/logs_monitoring/README.md
Labels: aws, Documentation

#642 Fix capitalization of 'Arns' in 'AdditionalTargetLambdaArns'
  aws/logs_monitoring/README.md
Labels: aws

#645 DOCS-5285 Datadog Forwarder Doc Edits
  aws/logs_monitoring/README.md
Labels: aws, Documentation

#650 [azure] ARM template management group
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUiDefinition.json
  azure/deploy-to-azure/azure-integration/Readme.md
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure, azure-integrations

#653 [azure]/[azi-1515] arm template UI redesign managementgroup
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUiDefinition.json
Labels: azure, azure-integrations
