Repository DataDog/datadog-serverless-functions, pull requests merged in 2023-10, with the labels that each got.

#699 feat(azure): Add Container App filters to Azure Resource Manager template
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
  azure/deploy-to-azure/azure-integration/Readme.md
  azure/deploy-to-azure/azure-integration/azuredeploy-managementgroups.json
  azure/deploy-to-azure/azure-integration/azuredeploy.json
Labels: azure, azure-integrations

#700 Update Lambda Log Forwarder docs troubleshooting - timestamps
  aws/logs_monitoring/README.md
Labels: aws, Documentation, Logs Forwarder

#703 [AZURE] CreateUIDefinition.json -> CreateUiDefinition.json
  azure/deploy-to-azure/azure-integration/CreateUiDefinition.json
  azure/deploy-to-azure/azure-integration/Readme.md
Labels: azure, azure-integrations

#704 fix(azure): Copy CreateUiDefinition.json to CreateUIDefinition.json to temporarily use both
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure, azure-integrations, mergequeue-status: error
