Repository DataDog/datadog-serverless-functions, pull requests merged in 2024-05, with the labels that each got.

#782 Use API endpoint for series submission
  aws/rds_enhanced_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/lambda_function.py
Labels: aws

#767 [azure][azints-2316] Enable Resource collection by default for new customers (ARM templates)
  azure/deploy-to-azure/azure-integration/CreateUIDefinition-managementgroups.json
  azure/deploy-to-azure/azure-integration/CreateUIDefinition.json
Labels: azure, azure-integrations

#786 [Logs forwarder] Rework Cloudwatch log group tags cache
  aws/logs_monitoring/caching/cloudwatch_log_group_cache.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tests/run_unit_tests.sh
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_cloudtrail_s3.py
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_cloudtrail.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_coldstart.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_fsx_windows.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/step_functions_log.json~snapshot
Labels: aws

#787 [Logs forwarder] create a s3 handler class with a shared data store
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

#789 Revert max socket configuration in Azure Eventhub forwarder
  azure/activity_logs_monitoring/index.js
  azure/deploy-to-azure/function_template.json
Labels: azure, azure-integrations

#795 Add additional metrics for log groups tags cache
  aws/logs_monitoring/caching/cloudwatch_log_group_cache.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_cloudtrail.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_coldstart.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_custom_tags.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_fsx_windows.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_service_tag.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_timeout.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/step_functions_log.json~snapshot
Labels: aws

#798 pass missing parameter to aws logs handler for kinesis
  aws/logs_monitoring/steps/parsing.py
  oci/dd-metrics-function.py
Labels: aws

#779 add optional access logs target bucket Resolves #764
  aws/logs_monitoring/template.yaml
Labels: enhancement, aws, Logs Forwarder
