Repository DataDog/datadog-serverless-functions, pull requests merged in 2024-07, with the labels that each got.

#818 refactor(waf): Changing the array manipulation to direct replace to avoid slow…
  aws/logs_monitoring/steps/transformation.py
Labels: aws

#794 Update the Python runtime version
  aws/logs_monitoring/README.md
Labels: aws

#817 ECI-201 Add terraform templates to serverless
  oci/oci-orm-metrics/metrics-setup/compartment.tf
  oci/oci-orm-metrics/metrics-setup/data.tf
  oci/oci-orm-metrics/metrics-setup/function_setup.tf
  oci/oci-orm-metrics/metrics-setup/functions.tf
  oci/oci-orm-metrics/metrics-setup/locals.tf
  oci/oci-orm-metrics/metrics-setup/metrics-function/Dockerfile
  oci/oci-orm-metrics/metrics-setup/metrics-function/func.py
  oci/oci-orm-metrics/metrics-setup/metrics-function/func.yaml
  oci/oci-orm-metrics/metrics-setup/metrics-function/requirements.txt
  oci/oci-orm-metrics/metrics-setup/outputs.tf
  oci/oci-orm-metrics/metrics-setup/provider.tf
  oci/oci-orm-metrics/metrics-setup/schema.yaml
  oci/oci-orm-metrics/metrics-setup/serviceconnector.tf
  oci/oci-orm-metrics/metrics-setup/variables.tf
  oci/oci-orm-metrics/metrics-setup/vcn.tf
  oci/oci-orm-metrics/policy-setup/policy.tf
  oci/oci-orm-metrics/policy-setup/variables.tf
Labels: oci-integrations

#819 ECI-201 Rename terraform template directory
  oci/datadog-oci-orm/metrics-setup/compartment.tf
  oci/datadog-oci-orm/metrics-setup/data.tf
  oci/datadog-oci-orm/metrics-setup/function_setup.tf
  oci/datadog-oci-orm/metrics-setup/functions.tf
  oci/datadog-oci-orm/metrics-setup/locals.tf
  oci/datadog-oci-orm/metrics-setup/metrics-function/Dockerfile
  oci/datadog-oci-orm/metrics-setup/metrics-function/func.py
  oci/datadog-oci-orm/metrics-setup/metrics-function/func.yaml
  oci/datadog-oci-orm/metrics-setup/metrics-function/requirements.txt
  oci/datadog-oci-orm/metrics-setup/outputs.tf
  oci/datadog-oci-orm/metrics-setup/provider.tf
  oci/datadog-oci-orm/metrics-setup/schema.yaml
  oci/datadog-oci-orm/metrics-setup/serviceconnector.tf
  oci/datadog-oci-orm/metrics-setup/variables.tf
  oci/datadog-oci-orm/metrics-setup/vcn.tf
  oci/datadog-oci-orm/policy-setup/policy.tf
  oci/datadog-oci-orm/policy-setup/variables.tf
Labels: oci-integrations

#792 Drop unrequired `s3:ListBucket` permission
  aws/logs_monitoring/template.yaml
Labels: aws, Logs Forwarder

#814 Update README.md (aka forwarder.md on docs)
  aws/logs_monitoring/README.md
Labels: aws, Documentation, Logs Forwarder

#820 ECI-201 Update documentation schema.yaml for application shape
  oci/datadog-oci-orm/metrics-setup/function_setup.tf
  oci/datadog-oci-orm/metrics-setup/functions.tf
  oci/datadog-oci-orm/metrics-setup/schema.yaml
  oci/datadog-oci-orm/metrics-setup/variables.tf
Labels: oci-integrations

#823 refactor(logs): Avoid compiling regex many times
  aws/logs_monitoring/logs/helpers.py
Labels: aws

#822 Improve release scripts
  aws/logs_monitoring/.editorconfig
  aws/logs_monitoring/release.sh
  aws/logs_monitoring/tools/build_bundle.sh
  aws/logs_monitoring/tools/installation_test.sh
  aws/logs_monitoring/tools/publish_layers.sh
  aws/logs_monitoring/tools/publish_prod.sh
  aws/logs_monitoring/tools/publish_sandbox.sh
  aws/logs_monitoring/trace_forwarder/scripts/build_linux_go_bin.sh
Labels: aws

#825 ci(release): Fixing the release script for prod
  aws/logs_monitoring/.editorconfig
  aws/logs_monitoring/release.sh
  aws/logs_monitoring/template.yaml
  aws/logs_monitoring/tools/publish_prod.sh
  aws/logs_monitoring/trace_forwarder/README.md
Labels: aws

#827 ci(release): Fixing wrong condition for committing changes
  aws/logs_monitoring/release.sh
Labels: aws

#828 Fix environment variable declaration in the release script
  aws/logs_monitoring/tools/publish_prod.sh
Labels: aws

#829 ci: Fixing commit duplicate in the release script
  aws/logs_monitoring/release.sh
Labels: aws

#830 ci: use long ref to commit when creating release
  aws/logs_monitoring/release.sh
Labels: aws
