Repository DataDog/datadog-serverless-functions, pull requests merged in 2024-03, with the labels that each got.

#744 AWSX-682 Enrich API Gateway logs with custom tags
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
Labels: aws

#750 Refactor parsing in log forwarder
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/aws_attributes.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_datadog_forwarder.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

#751 Add a prefix to tags cache file names
  aws/logs_monitoring/README.md
  aws/logs_monitoring/caching/base_tags_cache.py
  aws/logs_monitoring/caching/cache_layer.py
  aws/logs_monitoring/caching/cloudwatch_log_group_cache.py
  aws/logs_monitoring/caching/lambda_cache.py
  aws/logs_monitoring/caching/s3_tags_cache.py
  aws/logs_monitoring/caching/step_functions_cache.py
  aws/logs_monitoring/enhanced_lambda_metrics.py
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/steps/enrichment.py
  aws/logs_monitoring/steps/handlers/awslogs_handler.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_out_of_memory.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_timeout.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_with_tags.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_parse_lambda_tags_from_arn.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_parse_metrics_from_cold_start_report.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_parse_metrics_from_report_log.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_parse_metrics_from_report_with_xray.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_parse_metrics_from_standard_report.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_cloudtrail_s3.py
  aws/logs_monitoring/tests/test_enhanced_lambda_metrics.py
  aws/logs_monitoring/tests/test_lambda_function.py
Labels: aws

#754 Centralize metrics submission in the forwarder
  aws/logs_monitoring/caching/base_tags_cache.py
  aws/logs_monitoring/caching/cloudwatch_log_group_cache.py
  aws/logs_monitoring/caching/common.py
  aws/logs_monitoring/caching/lambda_cache.py
  aws/logs_monitoring/caching/s3_tags_cache.py
  aws/logs_monitoring/caching/step_functions_cache.py
  aws/logs_monitoring/forwarders.py
  aws/logs_monitoring/steps/parsing.py
  aws/logs_monitoring/telemetry.py
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_enhanced_lambda_metrics.py
  aws/logs_monitoring/tests/test_parsing.py
Labels: aws

#662 fix(azure): normalize host field
  azure/activity_logs_monitoring/index.js
Labels: azure-integrations

#755 Refactor forwarding and logs classes in lambda forwarder
  aws/logs_monitoring/customized_log_group.py
  aws/logs_monitoring/forwarder.py
  aws/logs_monitoring/lambda_function.py
  aws/logs_monitoring/logs/datadog_batcher.py
  aws/logs_monitoring/logs/datadog_client.py
  aws/logs_monitoring/logs/datadog_http_client.py
  aws/logs_monitoring/logs/datadog_scrubber.py
  aws/logs_monitoring/logs/datadog_tcp_client.py
  aws/logs_monitoring/logs/exceptions.py
  aws/logs_monitoring/logs/helpers.py
  aws/logs_monitoring/logs/logs.py
  aws/logs_monitoring/tests/test_enhanced_lambda_metrics.py
  aws/logs_monitoring/tests/test_logs.py
Labels: aws

#756 Don't send forwarder metrics incase of exceptions
  aws/logs_monitoring/forwarder.py
Labels: aws

#758 Fix a bug in log forwarder's s3 handler to properly handle SNS records
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws

#760 [azure] Add max sockets configuration
  azure/activity_logs_monitoring/index.js
Labels: azure, azure-integrations
