Repository DataDog/datadog-serverless-functions, pull requests merged in 2025-03, with the labels that each got.

#914 [AWSX][Logs Forwarder] Support a single Python version (current 3.12)
  .github/workflows/integration_test.yml
  .github/workflows/pr.yaml
  .github/workflows/test.yml
  aws/logs_monitoring/README.md
  aws/logs_monitoring/setup.py
  aws/logs_monitoring/tools/integration_tests/integration_tests.sh
Labels: aws

#915 [AWSX][Logs Forwarder] Allow to set SSM parameter name for DD API Key in CFT
  .github/CODEOWNERS
  aws/logs_monitoring/template.yaml
Labels: aws

#909 feat(aws): AWSX-1391 Move redshift and cloudfront source identification to backend
  aws/logs_monitoring/steps/enums.py
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_parsing.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws, Logs Forwarder

#918 DOCS-10279: Add note to doc about different envvar naming format for manual install
  aws/logs_monitoring/README.md
Labels: aws

#919 Upgrade Azure Log Forwader's EventHub/Storage Acct TLS versions
  azure/deploy-to-azure/event_hub.json
  azure/deploy-to-azure/function_template.json
  azure/deploy-to-azure/parent_template.json
  azure/eventhub_log_forwarder/event_hub.json
  azure/eventhub_log_forwarder/function_template.json
  azure/eventhub_log_forwarder/parent_template.json
Labels: azure, azure-integrations

#921 [AWSX] fix(vpc_flow_log_monitoring) Batch metric series before submission
  .github/workflows/aws_integration_test.yml
  .github/workflows/aws_lint.yml
  .github/workflows/aws_unit_test.yml
  aws/vpc_flow_log_monitoring/lambda_function.py
  aws/vpc_flow_log_monitoring/tests/__init__.py
  aws/vpc_flow_log_monitoring/tests/test_lambda_funciton.py
  aws/vpc_flow_log_monitoring/vpc-flow-log-sam-template.yaml
Labels: aws

#922 [AWSX][Logs Forwarder] Trim some unnecessary tags
  aws/logs_monitoring/enhanced_lambda_metrics.py
  aws/logs_monitoring/settings.py
  aws/logs_monitoring/steps/common.py
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_lambda_log.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_rds_postgresql.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_customized_log_group.approved.json
  aws/logs_monitoring/tests/approved_files/TestAWSLogsHandler.test_awslogs_handler_step_functions_tags_added_properly.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_json.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_out_of_memory.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_timeout.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_generate_enhanced_lambda_metrics_with_tags.approved.json
  aws/logs_monitoring/tests/approved_files/TestEnhancedLambdaMetrics.test_parse_lambda_tags_from_arn.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_datadog_forwarder.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaFunctionEndToEnd.test_kinesis_awslogs_handler.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_env.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_w_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_custom_tags_wo_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_service.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_w_service_and_ddtags.approved.json
  aws/logs_monitoring/tests/approved_files/TestLambdaMetadataEnrichment.test_lambda_event_wo_service.approved.json
  aws/logs_monitoring/tests/test_awslogs_handler.py
  aws/logs_monitoring/tests/test_cloudtrail_s3.py
  aws/logs_monitoring/tests/test_lambda_function.py
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_customized_log_group_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_apigateway.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_cloudtrail.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_custom_tags.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_fsx_windows.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_lambda_invocation.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_route53.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_service_tag.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/cloudwatch_log_timeout.json~snapshot
  aws/logs_monitoring/tools/integration_tests/snapshots/step_functions_log.json~snapshot
Labels: aws

#916 feat(logs): AWSX-1389 Moving s3 access logs identification to backend
  aws/logs_monitoring/steps/handlers/s3_handler.py
  aws/logs_monitoring/tests/test_cloudtrail_s3.py
  aws/logs_monitoring/tests/test_customized_log_group.py
  aws/logs_monitoring/tests/test_s3_handler.py
Labels: aws
